@font-face {
    font-family: 'PTSansBold';
    src: url('fonts/PTSansBold.eot');
    src: url('fonts/PTSansBold.eot') format('embedded-opentype'),
         url('fonts/PTSansBold.woff2') format('woff2'),
         url('fonts/PTSansBold.woff') format('woff'),
         url('fonts/PTSansBold.ttf') format('truetype'),
         url('fonts/PTSansBold.svg#PTSansBold') format('svg');
}
