@media only screen and (max-width: 965px){
	.wrapper{width: auto;}
	.header{width: 98%; margin: 23px auto 16px;}
	.nav-form{width: 98%; margin: 0 auto;}
	.content .wrapper-1{width: 100%;}
	.slider .images-slider img{max-width: 100%; height: auto; width: 100%;}
	.order_now{position: absolute; margin: 0; bottom: 0;}
	
}

@media only screen and (max-width: 940px){
	.block-content{width: 98%; margin: 80px auto 12px auto;}
	.article{width: 48%; margin-right: 2%; margin-bottom: 25px; }
	#article{float: none;}
}

@media only screen and (max-width: 750px){
	.nav{float: none; margin-bottom: 15px; }
	.nav ul{text-align: center;}
	.nav ul li{display: inline-block; float: none;}
	.nav ul li a{font-size: 16px; padding: 10px;}
	.form-search {text-align: center; float: none;}
	.form-search .button-search{position: inherit;}
}

@media only screen and (max-width: 632px){
	.copyright p{width: 90%;}
	.copyright a{float: left;}
}

@media only screen and (max-width: 650px){
	.article{width: 100%; float: none;}
}

@media only screen and (max-width: 500px){
	.logo-top{float: none; margin-bottom: 30px;}
	.contact{float: left; margin-left: 2%;}
}

@media only screen and (max-width: 585px){
	.slider{width: auto; height: auto;}
}

@media only screen and (max-width: 465px){
	.article img{margin-bottom: 15px;}
}

@media only screen and (max-width: 386px){
	.nav-bottom{width: 57%; margin-left: 10px;}
}