@font-face {
    font-family: 'BEBAS';
    src: url('../fonts/BEBAS.eot');
    src: url('../fonts/BEBAS.eot') format('embedded-opentype'),
         url('../fonts/BEBAS.woff2') format('woff2'),
         url('../fonts/BEBAS.woff') format('woff'),
         url('../fonts/BEBAS.ttf') format('truetype'),
         url('../fonts/BEBAS.svg#BEBAS') format('svg');
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaNeue.eot');
    src: url('../fonts/HelveticaNeue.eot') format('embedded-opentype'),
         url('../fonts/HelveticaNeue.woff2') format('woff2'),
         url('../fonts/HelveticaNeue.woff') format('woff'),
         url('../fonts/HelveticaNeue.ttf') format('truetype'),
         url('../fonts/HelveticaNeue.svg#HelveticaNeue') format('svg');
}

@font-face {
    font-family: 'HelveticaNeueLight';
    src: url('../fonts/HelveticaNeueLight.eot');
    src: url('../fonts/HelveticaNeueLight.eot') format('embedded-opentype'),
         url('../fonts/HelveticaNeueLight.woff2') format('woff2'),
         url('../fonts/HelveticaNeueLight.woff') format('woff'),
         url('../fonts/HelveticaNeueLight.ttf') format('truetype'),
         url('../fonts/HelveticaNeueLight.svg#HelveticaNeueLight') format('svg');
}

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../fonts/BebasNeueRegular.eot');
    src: url('../fonts/BebasNeueRegular.eot') format('embedded-opentype'),
         url('../fonts/BebasNeueRegular.woff2') format('woff2'),
         url('../fonts/BebasNeueRegular.woff') format('woff'),
         url('../fonts/BebasNeueRegular.ttf') format('truetype'),
         url('../fonts/BebasNeueRegular.svg#BebasNeueRegular') format('svg');
}

@font-face {
    font-family: 'BebasNeueBold';
    src: url('../fonts/BebasNeueBold.eot');
    src: url('../fonts/BebasNeueBold.eot') format('embedded-opentype'),
         url('../fonts/BebasNeueBold.woff2') format('woff2'),
         url('../fonts/BebasNeueBold.woff') format('woff'),
         url('../fonts/BebasNeueBold.ttf') format('truetype'),
         url('../fonts/BebasNeueBold.svg#BebasNeueBold') format('svg');
}

@font-face {
    font-family: 'HelveticaNeueBold';
    src: url('../fonts/HelveticaNeueBold.eot');
    src: url('../fonts/HelveticaNeueBold.eot') format('embedded-opentype'),
         url('../fonts/HelveticaNeueBold.woff2') format('woff2'),
         url('../fonts/HelveticaNeueBold.woff') format('woff'),
         url('../fonts/HelveticaNeueBold.ttf') format('truetype'),
         url('../fonts/HelveticaNeueBold.svg#HelveticaNeueBold') format('svg');
}


* {
	margin: 0;	/*сброс внешнего отступа*/
	padding: 0; /*сброс внутреннего отступа*/
	outline:none; /*сброс рамки*/
}

body{
	background: url(../images/bg.png) repeat;
	/*min-width: 940px;*/
	color: #414141;
	position: relative;
	font: 12px "HelveticaNeue", sans-serif;
}

img {
	border:0; /*рамка у картинок внутри ссылок*/
}

ul{
	list-style:none; /*чтоб не было точек у списков*/
}

p{
	line-height: 1.5;
}

span, a{
	font-family: "BebasNeueRegular", sans-serif;
}

h2, h3{
	font-family: "BebasNeueRegular", sans-serif;
	font-size: 20px;
	text-transform: uppercase;
}

h3{
	font-size: 18px;
}

h4{
	font-family: "BebasNeueBold", sans-serif;
	font-size: 15px;
	text-transform: uppercase;
}

span{
	font-size: 14px;
}

a{
	text-decoration: none;
}

.wrapper{ 
	width: 940px;
	/*min-width: 940px;*/
	margin:0 auto;
	border-left: 10px solid #fff;
	border-right: 10px solid #fff;
	background: url(../images/bg.png) repeat;
}

.header:after{content: ""; display: block;clear: both;}

.header .logo{
    float: left;
    padding-top: 22px;
}

.nav{
	float: right;
}

.nav ul li{
	float: left;
}

.nav ul li a{
	display: block;
	text-transform: uppercase;
	color: #b9b9b9;
	padding: 34px 0 28px 27px;
	font-size: 18px;
}

.nav ul li .active, .nav ul li a:hover{
	color: #e8663c;
}

.nav ul .active-about{
	color: #e8603c;
}

.nav ul .active-about span{
	color: #f3af9d;
	font-family: "BebasNeueRegular", sans-serif;
	font-size: 18px;
}

.nav ul li a span{
	font-family: "BebasNeueRegular", sans-serif;
	font-size: 18px;
}

.nav ul .active-blog{
	color: #e8603c;
}

.container:after{content: ""; display: block;clear: both;}

/*.container{
	position: relative;
}*/

.block-slider{
	background: url(../images/bg-slider.png)repeat-x;
}

.slider:after{content: ""; display: block;clear: both;}

.owl-prev{
background: url(../images/prev.png) no-repeat 0 0 ;
  width: 35px;
  height: 62px;
  display: block;
  text-indent: -9999px;
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 20px;
  margin-top: -31px;
}


.owl-next{
  background: url(../images/next.png) no-repeat 0 0 ;
  width: 35px;
  height: 62px;
  display: block;
  text-indent: -9999px;
   position: absolute;
   z-index: 100;
  top: 50%;
  right: 20px;
  margin-top: -31px;
}

.owl-stage-outer{
	width: 941px;
	height: 401px;
	overflow: hidden;
}

.owl-item{
	float: left;
}

.slider-photo{
	width: 941px;
	height: 401px;
	position: relative;

}

.thumbnail ul{
	margin-top: 20px;
	margin-bottom: 20px;
}

.thumbnail ul li{
	float: left;
	margin-right: 20px;
}

.thumbnail ul li:last-child{
	margin-right: 0;
}

.thumbnail ul li a{
	display: block;
}

.section-article:after{content: ""; display: block;clear: both;} 

.section-article{
	margin-bottom: 50px;
}

.section-article .block-article{
	width: 288px;
	float: left;
	margin-left: 38px;
}

.section-article .block-article:first-child{
	margin-left: 0;
}

.section-article .block-article h2{
	color: #e8663c;
	margin-bottom: 30px;
}

.section-article .block-article h2{
	background: url(../images/icon-article-1.png) no-repeat;
	padding-left: 65px;
	overflow: hidden;
}

.section-article .block-article p{
	color: #414141;
	margin-bottom: 10px;
}

.section-article .block-article .more{
	background: #e8663c;
	padding: 10px 15px;
	color: #fff;
	display: inline-block;
}

.section-works:after{content: ""; display: block;clear: both;}

.section-works{
	margin-bottom: 45px;
}

.section-works h2{
	background: url(../images/title-bg.png) repeat-x 0 3px;
	margin-bottom: 20px;
}

.section-works h2 span{
	background: #fff;
	padding: 0 21px 0 0;
	font-size: 21px;
}

.block-works{
	float: left;
	margin-left: 14px;
	width: 220px;
}

.block-works:first-child{
	margin-left: 0;
}

#block-works{
	margin-right: 0;
}

.name-works{
	border: 1px solid #b9b9b9;
	border-top: none;
	padding: 12px;
}

.name-works h3{
	color: #b9b9b9;
	text-transform: uppercase;
}

.name-works span{
	color: #e8663c;
	font-size: 13px;
	font-weight: bold;
}

.block-works .article-photo{
	width: 220px;
	height: 184px;
	overflow: hidden;
}
/*jetro-about////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


.title-main{
	background: #e8663c url(../images/bg-top-line.png) repeat-x;
	height: 61px;
	margin-bottom: 28px;
}

.about-us{
	width: 940px;
	height: 61px;
	margin:0 auto;
	background: #e8603c;
	border-left: 10px solid #fff;
	border-right: 10px solid #fff;
}

.about-us h1{
	color: #fff;
	font: 26px 'BebasNeueBold', sans-serif;
	text-transform: uppercase;
	padding: 17px;
}

.sidebar{
	width: 218px;
	float: right;
}

.block-sidebar{
	margin-bottom: 38px;
}

.title-sidebar{
	color: #e8603c;
	margin-bottom: 20px;
}

.title-sidebar h3{
	background: url(../images/title-bg-1.png) repeat-x 2px;
	
}

.title-sidebar span{
	background: #fff;
	font-family: "BebasNeueRegular", sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	padding-right: 16px; 
}

.categories ul li a{
	color: #464646;
	font: 12px "HelveticaNeue", sans-serif;
	line-height: 1.5;
}

.photo{
	margin-bottom: 2px;
}

.photo img{
	border: 1px solid #e8603c;
	margin-left: 2px;
}


.content-main{
	margin-right: 272px;
}

.main-about{
	margin-top: 23px;
}

.main-about .photo-main{
	float: left;
	margin-right: 22px;
	padding: 2px;
	width: 222px;
	height: 221px;
	border: 1px solid #cccccc;
}

.content-main .maecenas{
	margin-top: 20px;
	margin-bottom: 24px;
}

p.first{
	 margin-bottom: 24px;
}

p.first:first-letter {
	float: left;
  font-size: 35px;
  padding: 2px;
  font-family: "HelveticaNeue", sans-serif; 
  margin-right: 5px;  
  color: #e8603c;
  line-height: 0.8;
}

.quisque{
  color: #414141;
  font-family: 'HelveticaNeueLight', sans-serif;
  font-size: 12px;
  line-height: 1.7;
  border-left: 7px solid #e8663c;
  padding-left: 19px;
  margin-left: 50px;
  margin-bottom: 24px;
  quotes: none;
}

.two-block:after{content: ""; display: block;clear: both;}
.block-two-1:after{content: ""; display: block;clear: both;}

.two-block{
	margin-bottom: 24px;
}

.two-block .block-two-1{
	width: 50%;
	float: left;
}

.two-block .block-two {
	width: 47%;
	margin-right: 6%;
	float: right;
}

.two-block #block-two{
	margin-right: 0;
}

.three-block:after{content: ""; display: block;clear: both;}
.block-three:after{content: ""; display: block;clear: both;}

.three-block{
	margin-bottom: 24px;
}

.block-three{
	width: 30%;
	float: left;
	margin-right: 5%;
}

.block-three:last-child{
	margin-right: 0;
}

.alert-text{
	margin-bottom: 24px;
}

.alert-text-1{
	background: #effeb9;
	border: 1px solid #98c601;
	text-align: center;
	margin-bottom: 18px;
}

.alert-text-1 p{
	color: #98c601;
	padding: 24px 0 22px 0;
	font-family: 'HelveticaNeueLight', sans-serif;
  font-size: 14px;
}

.alert-text-2{
	background: #fbcbc1;
	border: 1px solid #eb5439;
	text-align: center;
	margin-bottom: 18px;
}

.alert-text-2 p{
	color: #eb5439;
	padding: 24px 0 22px 0;
	font-family: 'HelveticaNeueLight', sans-serif;
  font-size: 14px;
}

.alert-text-3{
	background: #ffe9ad;
	border: 1px solid #fab418;
	text-align: center;
	margin-bottom: 18px;
}

.alert-text-3 p{
	color: #fab418;
	padding: 24px 0 22px 0;
	font-family: 'HelveticaNeueLight', sans-serif;
  font-size: 14px;
}

.alert-text-4{
	background: #d1e4f3;
	border: 1px solid #4d8fcb;
	text-align: center;
	margin-bottom: 18px;
}

.alert-text-4 p{
	color: #4d8fcb;
	padding: 24px 0 22px 0;
	font-family: 'HelveticaNeueLight', sans-serif;
  font-size: 14px;
}

/*jetro-blog////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.block-article-blog, .comments-blockquote, .best{
	position: relative;
}



.icon-left-blog-1, .icon-left-blog-2, .icon-left-blog-3, .icon-left-blog-4, .icon-left-blog-5{
	width: 75px;
	height: 75px;
	background: url(../images/icon-left-blog.png) no-repeat 0 0;
	position: absolute;
	top: 0px;
	left: -84px;
	z-index: 100;
	display: block;
}

.icon-left-blog-2{
	background: url(../images/icon-left-article.png) no-repeat 0 0;
}

.icon-left-blog-3{
	background: url(../images/icon-left-video.png) no-repeat 0 0;
}

.icon-left-blog-4{
	background: url(../images/icon-quotes-white.png) no-repeat 0 0;
}

.icon-left-blog-5{
	background: url(../images/icon-left-web.png) no-repeat 0 0;
}

.blog{
	width: 940px;
	height: 61px;
	margin:0 auto;
	background: #e8603c;
	border-left: 10px solid #fff;
	border-right: 10px solid #fff;
}

.blog h1{
	color: #fff;
	font: 26px 'BebasNeueBold', sans-serif;
	text-transform: uppercase;
	padding: 17px;
}

.container-article{
	margin-top: 22px;
	
}

.date-tags-comments{
	float: left;
	width: 100px;
}

.dtc{
	margin-bottom: 10px;
}

.dtc h4{
	color: #e8603c;
	padding-bottom: 6px;
}

.dtc p{
	color: #bababa;
}

.article-blog{
	margin-left: 146px;
}

.article-blog h2{
	color: #e8603c;
	padding-bottom: 22px;
}

.article-blog p{
	padding-bottom: 24px;
}

.bg-bt-article{
	background: url(../images/title-bg.png) repeat-x;
	height: 19px;
	margin-top: 25px;
	margin-bottom: 50px;
}

.bg-bt-article-1{
	margin-top: 50px;
}

#comments-blockquote{
	background: url(../images/bg-blockquote.png) repeat;
	padding: 18px 32px;
	
}

.comments-blockquote{
	background: url(../images/quotes-red.png) no-repeat;
}

.comments-blockquote p{
	padding-left: 40px;
	font-style: italic;
	color: #474747;
}

.best h2{
	color: #e8603c;
	padding-bottom: 6px;
}

.best a{
	color: #a0a0a0;
	font: 12px 'HelveticaNeueRegular', sans-serif;
}

.best p{
	margin: 22px 0 50px 0;
}

.navigation{
	padding-bottom: 78px;
}

.navigation ul li{
	float: left;
	background: #f3b29d;
	margin-right: 4px;
}

.navigation ul li a{
	display: block;
	padding: 6px 12px;
	color: #fff;
	font-size: 14px;
}

.navigation ul li .active-navig{
	background: #e8663c;
}




.footer:after{content: ""; display: block;clear: both;}

.footer{
	background: #f2ae9c;
}

.section-footer:after{content: ""; display: block;clear: both;}


.section-footer{
	width: 940px;
	padding: 36px 32px;
	margin: 0 auto;
	background: #e8603c;
	box-sizing: border-box;
}

.jetro{
	float: left;
	width: 30%;
	
}

.jetro h2, .widget h2, .contact h2{
	margin-bottom: 25px;
}

.jetro h2, .jetro p, .widget h2, .widget p, .contact h2, .contact p{
	color: #fff;
}

.widget{
	float: left;
	width: 30%;
	margin-left: 40px;
	
}

.block-widget{
	margin-bottom: 20px;
}

.block-widget p span, .widget p span, .block-widget span{
	color: #f3b29d;
	font: 14px "HelveticaNeueLight", sans-serif;
}

.contact{
	float: left;
	width: 27%;
	margin-left: 40px;
}

.contact p{
	margin-bottom: 13px;
}

.contact .social{
	margin-top: 20px;
}

.soc-fb, .soc-twitter, .soc-email, .soc-rss, .soc-vimeo{
	margin-right: 4px;
}

.contact .social .soc-fb{
	background: url(../images/soc-fb.png);
	width: 30px;
	height: 31px;
	float: left;
} 

.contact .social .soc-twitter{
	background: url(../images/soc-twitter.png);
	width: 30px;
	height: 31px;
	float: left;
} 

.contact .social .soc-email{
	background: url(../images/soc-email.png);
	width: 30px;
	height: 31px;
	float: left;
} 

.contact .social .soc-rss{
	background: url(../images/soc-rss.png);
	width: 30px;
	height: 31px;
	float: left;
} 

.contact .social .soc-vimeo{
	background: url(../images/soc-vimeo.png);
	width: 30px;
	height: 31px;
	float: left;
} 





