/* /base */ 

@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic&subset=latin-ext,latin);

* {
    padding: 0;
    margin: 0;
    outline:none;
}
img {
    border: 0;
}
ol,ul{
    list-style:none;
}

:focus {
	outline:0
}
html, body{
	height: 100%;
}
body {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	background: ;
	color: #fff;
	overflow-x: hidden;
}

h1,
h2,
h3,
h5,
a{
	text-transform: uppercase;
}

h1{
	font-size: 92px; 
	font-weight: bold;
}
h2{
	font-size: 46px;
}
h3{
	font-size: 30px; 
	margin-bottom: 8px;
}
h4{
	font-size: 23px;
	font-weight: normal; 
}
h5{
	font-size: 20px; 
}
h6{
	font-size: 18px;
	font-weight: normal;  
}
a{
	color: #fff; 
	font-size: 15px; 
	text-decoration: none;
	font-weight: bold;
	display: block;
}
p{
	line-height: 1.5;
}
.wrapper{
	margin: 0 auto;
	min-width: 300px; 
	width: 1172px;
	position: relative; 
	padding: 0 10px;
}

.pt-section{
	padding: 105px 0 135px 0;
}

.title-section{
	text-align: center;
	margin-bottom: 118px;
}


/* ######################################################## */

/* forms input */


input{
	border: none;
	border-radius: 8px;
	width: 100%;
	height: 18px;
	padding: 15px 19px;
	margin-bottom: 34px;
	color: #aaa;
	text-transform: uppercase;
}
input[type="text"]{
	background: url(../img/form-i-1.png) #ffffff no-repeat 97% center;
}
input[name="emailaddress"]{
	background: url(../img/form-i-2.png) #ffffff no-repeat 97% center;
}

textarea{
	background: url(../img/form-i-3.png) #ffffff no-repeat 97% 7%;
	border: none;
	padding: 20px 19px;
	width: 100%;
	height: 220px;
	text-transform: uppercase;
	border-radius: 8px;
	resize: none;
	font-family: 'Lato', sans-serif;
}
placeholder{
    color: #aaa;
}
::-webkit-input-placeholder{
    color: #aaa;
}
:-moz-placeholder{
    color: #aaa;
}
:-ms-input-placeholder{
    color: #aaa;
}

:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}

/* /forms input */


/* ######################################################## */

/* buttons */

input[type="button"], input[type="submit"], button {
	cursor: pointer
}

.btn{
	display: block;
	color: #fff;
	background-color: #2f2f2f;
	border: none;
	border-radius: 4px;
	width: 109px;
	height: 50px;
	line-height: 14px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: bold;
	margin: 31px 45%;
}
.btn:hover{
	background: #fff;
	color: #aaa;
}


/* /buttons */

/* ###########################Pager-Nav############################# */



/* ---------------------------welcom--------------------------- */

.b-welcom:after{content: ""; display: block;clear: both;}
.b-welcom{
	background: url(../img/photo-main.png);
	width: 100%;
	height: 100%;
	background-size: cover;
	padding: 0 0;
	display: table;
}
.b-welcom .section-welcom{
	background: #dd7561;
	background-color: rgba(221, 117, 97, 0.5);
	background-size: cover;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.b-welcom .section-welcom .description-welcom{
	margin-bottom: 135px;
}
.b-welcom .section-welcom .description-welcom ul{
	padding-top: 19px;
}
.b-welcom .section-welcom .description-welcom ul li{
	display: inline-block;
	text-transform: uppercase;
	font-size: 32px;
}
.b-welcom .section-welcom a{
	background: url(../img/row-welcom.png)no-repeat center;
	width: 34px;
	height: 20px;
	border: 2px solid rgba(255, 255, 255, .4);
	border-radius: 100%;
	padding: 34px 22px 25px 22px;
	display: inline-block;
}

/* ---------------------------nav--------------------------- */
.b-header:after{content: ""; display: block;clear: both;}
.b-header{
	background: #de654e;
	height: 80px;
}

.b-header .in{
	background: #de654e;
	background: rgba(222,101,78,0.95);
	left: 0;
	right: 0;
	top: 0;
	z-index: 10;
}

.b-header.fixed .in{
	position: fixed;
	margin: 0 auto;
}
.b-header .b-nav:after{content: ""; display: block;clear: both;}
.b-header .b-nav{
	height: 60px;
	padding-left: 6px;
	padding-bottom: 20px;
	float: right;
	position: relative;
}
.b-header .logo{
	float: left;
	width: 138px;
	height: 33px;
	padding: 23px 0 3px 0;
}
.b-header .b-nav ul{
	float: right;
	margin: 30px 0 25px 0;
}
.b-header .b-nav ul li{
	float: left;
	margin-left: 20px;
}
.b-header .b-nav ul li a{
	padding-bottom: 6px;
}

.b-header .b-nav ul li a:hover,
.b-header .b-nav ul li a.active{
	border-bottom: 3px solid rgba(255, 255, 255, .4);
	padding-bottom: 3px;
}

.b-header .b-nav a#touch-menu{
	background:  #d56e56 url(../img/touch-menu.png)no-repeat center center;
	width: 22px;
	height: 16px;
	position: absolute;
	top: 14px;
	right: 0;
	padding: 18px 14px;
	display: none;
}


/* ---------------------------Services--------------------------- */

.b-services:after{content: ""; display: block;clear: both;}
.b-services{
	background: #db5941;
}
.b-services ul{
	text-align: center;
}
.b-services  .services-section{
	width: 33%;
	display: inline-block;
	vertical-align: top
}

.b-services  .services-section{
	padding: 0 3%;
	box-sizing: border-box;
}

.b-services .services-section .icon-services{
	background: url(../img/services-i-1.png) no-repeat center;
	width: 90px;
	height: 90px;
	border: 4px solid #fff;
	border-radius: 100%;
	padding: 55px;
	margin: 0 auto;
	margin-bottom: 28px;
}
.b-services .services-section .icon-services:hover{
	border: 4px solid #eba395;
}
.b-services .services-section .icon-services-2{
	background: url(../img/services-i-2.png) no-repeat center;
}
.b-services .services-section .icon-services-3{
	background: url(../img/services-i-3.png) no-repeat center;
}
.b-services .services-section p{
	margin-bottom: 31px;
	font-size: 16px;
}
.b-services .services-section a.more{
	text-transform: uppercase;
	font-size: 12px;
	text-align: center;
	padding: 10px 15px;
	border: 3px solid #fff;
	border-radius: 5px;
	display: inline-block;
}
.b-services .services-section a:hover{
	background: #eba395;
	color: #b18b84;
}

/* ---------------------------Works--------------------------- */

.b-works:after{content: ""; display: block;clear: both;}
.b-works{
	background: #ebebea;
	color: #2e2e2e;
}



.b-works .menu{display: none;}
.b-works .menu{
	background: #fff;
	position: relative;
	padding: 0 17px;
	line-height: 50px;
	border-radius: 5px;
	font-weight: bold;
	text-transform: uppercase;
}
.b-works a.touch-menu{
	background:  #d56e56 url(../img/touch-menu.png)no-repeat center center;
	width: 22px;
	height: 16px;
	position: absolute;
	top: 6px;
	right: 6px;
	padding: 11px 8px;
	display: block;
}
.b-works .tabs{
	text-align: center;
	margin-bottom: 50px;
}
.b-works .tabs li {
	display: inline-block; 
	line-height: 49px; 
	border-radius: 5px;
	margin-right: 10px;
	position: relative;
	background: #fff;
}
.b-works .tabs li:last-child{
	margin-right: 0;
}
.b-works .tabs li:hover, .b-works .menu:hover {
	background: #db5941;
}
.b-works .tabs li a {
	color: #2e2e2e;
	display: block;
	font-size: 15px;
	padding: 0 17px;
}
.b-works .tabs li a:hover, .b-works .menu:hover{
	color: #fff;
}




.b-works .tab_gallery ul .item .view {
    width: 340px;
    height: 340px;
    display: inline-block;
    overflow: hidden;
    background: #db5941;
    position: relative; 
    border: 15px solid #fff;
	border-radius: 11px;
}
.b-works .tab_gallery ul .item .view img{
	width: 340px;
	height: 340px;
	overflow: hidden;
}
.b-works .tab_gallery ul .item .view .mask, .view .content-works {
	text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}
.b-works .tab_gallery ul .item .view .content-works{
	color: #fff;
}
.b-works .tab_gallery ul .item .view .content-works h5{
	margin-top: 25px;
}
.b-works .tab_gallery ul li{
	width: 32%;
	display: inline-block;
	margin-left: 1%;
	margin-bottom:1.5%;
}
.b-works .tab_gallery ul li:first-child,
/*.b-works .tab_gallery .item-4{
	margin-left: 0;
}*/
.b-works .tab_gallery ul .item .view img {
    display: inline-block;
    position: relative
}
.b-works .tab_gallery ul .item .view:hover img {
    transform: scale(1.1);
}
.b-works .tab_gallery ul .item .view:hover .mask {
    opacity: 1;
}
.b-works .tab_gallery ul .item .view:hover h5,
.b-works .tab_gallery ul .item .view:hover p,
.b-works .tab_gallery ul .item .view:hover .info {
    opacity: 1;
    transform: translateY(0px);
}
.b-works .tab_gallery ul .item .view:hover p {
    transition-delay: 0.1s;
}
.b-works .tab_gallery ul .item .view:hover a.info {
    transition-delay: 0.2s;
}
.b-works .tab_gallery ul .item .view img {
    transition: all 0.2s linear;
}
.b-works .tab_gallery ul .item .view .mask {
    opacity: 0;
    background-color: rgba(179,79,89, 0.8);
    transition: all 0.4s ease-in-out;
}
.b-works .tab_gallery ul .item .view h5 {
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.b-works .tab_gallery ul .item .view p {
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.2s linear;
}
.b-works .tab_gallery ul .item .view a.info{
    opacity: 0;
    transition: all 0.2s ease-in-out;
    font-size: 100px;
    margin-top: 25%;
}
.b-works .plus-gallery{
	background: #fff;
	padding: 2px 14px;
	display: inline-block;
	border-radius: 6px;
	margin: 22px 48%;
}
.b-works .plus-gallery a{
	font-size: 37px;
	color: #2f2f2f;
}

/* ---------------------------About--------------------------- */

.b-about:after{content: ""; display: block;clear: both;}
.b-about{
	background: #f8bc3a;
}
.b-about {
	text-align: center;
}
.b-about .about-person{
	width: 33%;
	vertical-align: top;
	display: inline-block;
	padding: 15px;
	box-sizing: border-box;
}

.b-about .about-person .about-content{
	text-align: center;
	background: #fff;
	border-radius: 9px;
	padding: 15px 15px 25px;
}

.b-about figure figcaption{
	text-align: center;
	margin-top: 25px;
}
.b-about .about-person .about-content img{
	width: 325px;
	height: 355px;
	overflow: hidden;
}
.b-about .about-person .about-content figcaption h4{
	color: #2e2e2e;
}
.b-about .about-person .about-content figcaption span{
	color: #7f7f7f;
	line-height: 1.7;
}
.b-about .about-person .about-content figcaption .social-icon{
	margin: 46px 0 25px;
}
.b-about .about-person .about-content figcaption .social-icon li{
	display: inline-block;
}
.b-about .about-person .about-content figcaption .social-icon-1{
	background: url(../img/sprite-icon.png) no-repeat;
	background-position: 0 -1px;
	width: 24px;
	height: 24px;
	margin-right: 23px;
}
.b-about .about-person .about-content figcaption .social-icon-2{
	background: url(../img/sprite-icon.png) no-repeat;
	background-position: -38px -2px;
	width: 20px;
	height: 24px;
	margin-right: 27px;
}
.b-about .about-person .about-content figcaption .social-icon-3{
	background: url(../img/sprite-icon.png) no-repeat;
	background-position: -71px -6px;
	width: 22px;
	height: 24px;
	margin-right: 32px;
}
.b-about .about-person .about-content figcaption .social-icon-4{
	background: url(../img/sprite-icon.png) no-repeat;
	background-position: -103px -1px;
	width: 10px;
	height: 24px;
}
.b-about .about-person .about-content figcaption .social-icon-5{
	background: url(../img/sprite-icon.png) no-repeat;
	background-position: -123px -2px;
	width: 13px;
	height: 24px;
	margin-right: 32px;
}
.b-about .about-person .about-content figcaption .social-icon-6{
	background: url(../img/sprite-icon.png) no-repeat;
	background-position: -38px -2px;;
	width: 20px;
	height: 24px;
	margin-right: 28px;
}
.b-about .about-person .about-content figcaption .social-icon-7{
	background: url(../img/sprite-icon.png) no-repeat;
	background-position: -147px -4px;
	width: 22px;
	height: 24px;
}
.b-about .about-person .about-content figcaption .social-icon-8{
	background: url(../img/sprite-icon.png) no-repeat;
	background-position: -178px -2px;
	width: 22px;
	height: 24px;
	margin-right: 24px;
}
.b-about .about-person .about-content figcaption .social-icon-9{
	background: url(../img/sprite-icon.png) no-repeat;
	background-position: -71px -6px;
	width: 22px;
	height: 24px;
	margin-right: 28px;
}
.b-about .about-person .about-content figcaption .social-icon-10{
	background: url(../img/sprite-icon.png) no-repeat;
	background-position: -38px -2px;
	width: 20px;
	height: 24px;
}

/* ---------------------------Experience--------------------------- */

.b-experience:after{content: ""; display: block;clear: both;}
.b-experience{
	background: #2f2f2f;
}
.b-experience .title-section{
	margin-bottom: 32px;
}
.b-experience h2{
	font-size: 40px;
	font-weight: normal;
}
.b-container-progressbar:after{content: ""; display: block;clear: both;}
.b-container-progressbar{
	width: 1137px;
	margin: 0 17%;
	margin-top: 27px;
}
.b-container-progressbar .progressbar,
.b-container-progressbar .progressbar-2,
.b-container-progressbar .progressbar-3 {
  position: relative;
  width: 70%;
  height: 48px;
  margin-bottom: 40px;
  margin-left: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: #fff;
  float: left;
  
}
.b-container-progressbar .progressbar span,
.b-container-progressbar .progressbar-2 span,
.b-container-progressbar .progressbar-3 span{
  display: block;
  height: 100%;
  animation: grower 1s linear;
  -moz-animation: grower 1s linear;
  -webkit-animation: grower 1s linear;
  -o-animation: grower 1s linear;
  position: relative;
  top: 0;
  left: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: #f8bc3a;
  padding: 15px 0 0 52px;
  letter-spacing: 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box; /*Firefox 1-3*/
  -webkit-box-sizing: border-box; /* Safari */
}
.b-container-progressbar .progressbar-2 span{
	background: #27ae61;
}
.b-container-progressbar .progressbar-3 span{
	background: #db5941;
}

@keyframes grower {
  0% {
    width: 0%;
  }
}

@-moz-keyframes grower {
  0% {
    width: 0%;
  }
}

@-webkit-keyframes grower {
  0% {
    width: 0%;
  }
}

@-o-keyframes grower {
  0% {
    width: 0%;
  }
}

/* ---------------------------Facts--------------------------- */

.b-facts:after{content: ""; display: block;clear: both;}
.b-facts{
	background: #2a80b9;
}
.b-facts .title-section{
	margin-bottom: 32px;
}
.b-facts h2{
	font-size: 40px;
	font-weight: normal;
}
.b-facts ul:after{content: ""; display: block;clear: both;}
.b-facts ul{
	text-align: center;
}
.b-facts ul li{
	width: 20%;
	display: inline-block;
}
.b-facts ul li:last-child{
	margin-right: 0;
}
.b-facts ul li .fun-icon{
	width: 90px;
	height: 90px;
	padding: 17% 19%;
	margin: 0 auto;
	border-radius: 9px;
}
.b-facts ul li .fun-icon-1{
	background: #fff url(../img/fun-i-1.png) no-repeat center center;
}
.b-facts ul li .fun-icon-2{
	background:#fff url(../img/fun-i-2.png) no-repeat center center;
}
.b-facts ul li .fun-icon-3{
	background: #fff url(../img/fun-i-3.png) no-repeat center center;
}
.b-facts ul li .fun-icon-4{
	background: #fff url(../img/fun-i-4.png) no-repeat center center;
}
.b-facts ul li .numscroller{
	font-size: 40px;
	padding-top: 8px;
}
.b-facts ul li .text{
	text-transform: uppercase;
	margin-top: 5px;
}

/* ---------------------------Blog--------------------------- */

.b-blog:after{content: ""; display: block;clear: both;}
.b-blog{
	background: #efefee;
	color: #2f2f2f;
}
.b-blog .blog-section{
	display: inline-block;
	width: 49%;
	margin-bottom: 20px;
}
.b-blog .blog-section .blog-block{
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	padding: 17px 20px 17px 17px;
    background: #fff;
	border-radius: 10px;
}
.b-blog .blog-section .blog-block .blog-img{
	float: left;
}
.b-blog .blog-section .blog-block .blog-img img{
	width: 240px;
	height: 260px;
	overflow: hidden;
}
.b-blog .blog-section .blog-block .blog-descr{
	width: 48%;
	float: right;
}
.b-blog .blog-section .blog-block .blog-descr span{
	color: #757575;
}
.b-blog .blog-section .blog-block .blog-descr span,
.b-blog .blog-section .blog-block .blog-descr h4 a,
.b-blog .blog-section .blog-block .blog-descr p{
	text-align: left;
}
.b-blog .blog-section .blog-block .blog-descr span{
	font-size: 14px;
}
.b-blog .blog-section .blog-block .blog-descr h4 a{
	margin: 16px 0;
	color: #2f2f2f;
	font-size: 21px;
}
.b-blog .blog-section .blog-block .blog-descr p{
	font-size: 16px;
	padding-right: 22px;
}
.b-blog .blog-section .blog-block .blog-descr .blog-title-line{
	width: 120px;
	height: 2px;
	background: #db5941;
	margin-bottom: 18px;
}
.b-blog .blog-section .blog-block .blog-descr .more{
	float: right;
	background: #db5941;
	border-radius: 3px;
	margin-top: 15px;
}
.b-blog .blog-section .blog-block .blog-descr .more a{
	font-size: 10px;
	padding: 8px;
	text-transform: uppercase;
}
.b-blog .blog-section .blog-block .blog-descr .more a:hover{
	text-decoration: underline;
}

/* ---------------------------Studio--------------------------- */

.b-studio:after{content: ""; display: block;clear: both;}
.b-studio{
	background: #27ae61;
	position: relative;
}

.b-studio .slider-photo .owl-prev{
	background: #fff url(../img/r-prev.png) no-repeat center center;
	padding: 2% 1.5%;
	border-radius: 0 7px 7px 0;
    width: 17px;
    height: 30px;
    display: block;
    text-indent: -9999px;
    position: absolute;
    z-index: 100;
    top: 50%;
    margin-top: -45px;
    left: 0;
}

.b-studio .slider-photo .owl-next{
  background: #fff url(../img/r-next.png) no-repeat center center;
  padding: 2% 1.5%;
  border-radius: 7px 0 0 7px;
  width: 17px;
  height: 30px;
  display: block;
  text-indent: -9999px;
  position: absolute;
  z-index: 100;
  top: 50%;
  margin-top: -45px;
  right: 0;
}

.b-studio .slider-photo .owl-wrapper-outer{
  /*height: 350px;*/
  overflow: hidden;
}

.b-studio .slider-photo .owl-item{
  float: left;
}
.b-studio .slider-photo .owl-item .item img{
	width: 100%;
	height: auto;
	max-width: 100%
}

.b-studio .slider-photo{
  position: relative;
}


/* ---------------------------Clients--------------------------- */

.b-clients:after{content: ""; display: block;clear: both;}
.b-clients{
	background: #efefee;
	color: #2f2f2f;
}
.b-clients .h2{
	font-size: 40px;
}
.b-clients ul:after{content: ""; display: block;clear: both;}

.b-clients ul{
	text-align: center;
}
.b-clients ul li{
	display: inline-block;
	margin: 0 10px;
	width: 18%;
	box-sizing: border-box;
	text-align: center;
}
.b-clients ul .b-clients-5{
	margin-right: 0;
}
.b-clients ul li a{
	display: inline-block;
}
.b-clients ul li .clients-1{
	background: url(../img/clients-1.png) no-repeat;
	width: 178px;
	height: 44px;
}
.b-clients ul li .clients-2{
	background: url(../img/clients-2.png) no-repeat;
	width: 178px;
	height: 44px;
}
.b-clients ul li .clients-3{
	background: url(../img/clients-3.png) no-repeat;
	width: 178px;
	height: 44px;
}
.b-clients ul li .clients-4{
	background: url(../img/clients-4.png) no-repeat;
	width: 178px;
	height: 44px;
}
.b-clients ul li .clients-5{
	background: url(../img/clients-5.png) no-repeat;
	width: 178px;
	height: 44px;
}

/* ---------------------------Pricing--------------------------- */

.b-pricing:after{content: ""; display: block;clear: both;}
.b-pricing{
	background: #db5941;
}
.b-pricing .number-title{
	margin-top: -27px;
}
.b-pricing .pricing{
	width: 33%;
	vertical-align: top;
	display: inline-block;
	text-align: center;
	padding-right: 25px;
	padding-top: 102px;
	position: relative;
	box-sizing: border-box;
}
.b-pricing .pricing .per{
	border-radius: 100%;
	width: 52%;
	height: 38%;
	margin-left: 21%;

}
.b-pricing .pricing .per-1,
.b-pricing .pricing .per{
	background: #f8bc3a;
	position: absolute;
	margin-top: -102px;
}
.b-pricing .pricing .per-2{
	background: #27ae61;
}
.b-pricing .pricing .per-3{
	background: #2a80b9;
	margin-left: 21%;
	height: 34%;
}
.b-pricing .pricing .per .number{
	font-size: 100px;
	font-weight: bold;
	padding-top: 6px;
	padding-left: 20px;
}
.b-pricing .pricing .per .number-9{
	padding-left: 0;
}
.b-pricing .pricing .per .number span:before{
	content: "";
	background: url(../img/dollar.png)no-repeat;
	width: 22px;
	height: 38px;
	position: absolute;
	top: 50px;
	left: 25px;
}
.b-pricing .pricing .per .number-9 span:before{
	left: 44px;
	top: 47px;
}
.b-pricing .pricing .per .number-title{
	font-size: 18px;
}
.b-pricing .pricing .pricing-tables{
	background-color: #fff;
	color: #2e2e2e;
	border-radius: 20px;
	padding-top: 126px;
	padding-bottom: 38px;
}
.b-pricing .pricing .pricing-tables h3{
	margin-bottom: 3px;
}
.b-pricing .pricing .pricing-tables .pricing-text{
	font-size: 16px;
	line-height: 1.7;
	margin-bottom: 27px;
}
.b-pricing .pricing .pricing-tables .title-line-p{
	display: inline-block;
	margin: 11px 46%;
	width: 32px;
	height: 1px;
	background-color: #2f2f2f;
}
.b-pricing .pricing .pricing-tables .btn-try{
	border: none;
	background: #f8bc3a;
	padding: 11px 16px;
	font-size: 15px;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 4px;
	margin: 0 auto;
	display: block;
}
.b-pricing .pricing .pricing-tables .btn-try:hover{
	text-decoration: underline;
	border: 1px solid #000;
	padding: 10px 15px;
}
.b-pricing .pricing .pricing-tables .btn-try-2{
	background: #27ae61;
}
.b-pricing .pricing .pricing-tables .btn-try-3{
	background: #2a80b9;
}

/* ---------------------------Contact--------------------------- */

.b-contact:after{content: ""; display: block;clear: both;}
.b-contact{
	background: #2f2f2f;
}
.b-contact ul li{
	width: 28%;
	margin-left: 3%;
	display: inline-block;
	padding: 50px 0;
}
.b-contact ul li:first-child{
	margin-left: 0;
}
.b-contact ul li:last-child{
	margin-left: 8%;
	margin-top: -10px;
}
.b-contact ul .phone:before{
	content: "";
	background: url(../img/contact-1.png) no-repeat 10px 0;
	width: 100px;
	height: 100px;
	position: absolute;
}
.b-contact ul .phone span{
	padding-left: 114px;
	padding-top: 4px;
	display: table-cell;
	vertical-align: middle;
	height: 80px;
	font-size: 22px;
}
.b-contact ul .email:before{
	content: "";
	background: url(../img/contact-2.png) no-repeat;
	width: 100px;
	height: 100px;
	position: absolute;
}
.b-contact ul .email span{
	padding-left: 122px;
	padding-top: 2px;
	display: table-cell;
	vertical-align: middle;
	height: 80px;
	font-size: 22px;
	text-transform: none;
}
.b-contact ul .email span:hover{
	text-decoration: underline;
}
.b-contact ul .address:before{
	content: "";
	background: url(../img/contact-3.png) no-repeat;
	width: 100px;
	height: 100px;
	position: absolute;
}
.b-contact ul .address span{
	padding-left: 92px;
	display: table-cell;
	vertical-align: middle;
	height: 95px;
	font-size: 22px;
	text-transform: none;
	width: 206px;
}

/* ---------------------------Contact-form--------------------------- */

.b-contact-form:after{content: ""; display: block;clear: both;}
.b-contact-form{
	background: #f4ba46;
}
.b-contact-form p{
	font-size: 23px;
	letter-spacing: 2px;
}
.b-contact-form form{
	margin-top: 112px;
	width: 50%;
	margin: 0 auto;
}


/* ---------------------------sign-up--------------------------- */

.b-sign-up:after{content: ""; display: block;clear: both;}
.b-sign-up{
	background: #2f2f2f;
}
.b-sign-up form{
	display: inline-block;
	width: 49%;
}
.b-sign-up .form-email{
	text-align: center;
	padding: 50px 0 23px 0px;
}
.b-sign-up form input{
	margin-bottom: 0;
}
.b-sign-up form .email{
	background: url(../img/email-i.png) #ffffff no-repeat 6% center;
	padding-left: 55px;
	width: 52%;
	height: 20px;
	margin-right: 26px;
	text-transform: none;
	float: left;
}
.b-sign-up form .btn{
	background: #db5941;
	color: #fff;
	font-size: 16px;
	width: 30%;
	margin: 0;
}
.b-sign-up p{
	font-size: 17px;
	margin-left: -200px;
	padding-top: 30px;
}

/* ---------------------------map--------------------------- */
.b-section-map:after{content: ""; display: block;clear: both;}
.b-section-map{
	padding: 0 0;
}
.b-section-map .b-address{
	display: none;
}


.b-section-map .main{
	position: relative;
}

.b-section-map .b-zoom{
	position: absolute;
	bottom: 150px;
	right: 0;
	cursor: pointer;
}

.b-section-map .b-zoom a{
	display: block;
	color: #db5941;
	font-size: 30px;
	font-weight: 300;
	width: 48px;
	height: 48px;
	box-shadow: 0 2px  3px rgba(0,0,0,0.1);
	background: #ffffff;	
	margin-top: 17px;
	text-align: center;
	line-height: 48px;
}

.b-section-map .b-zoom a.zoom-out{
	line-height: 43px;
}

.b-section-map .b-zoom a:hover{
	background: #db5941;
	color: #ffffff;
}

#map-canvas{
	width: 100%;
	height: 520px;
}

/* ---------------------------Footer--------------------------- */

.b-footer:after{content: ""; display: block;clear: both;}
.b-footer{
	background: #ebebea;
	padding: 105px 0 135px 0;
}
.b-footer ul:after{content: ""; display: block;clear: both;}
.b-footer ul{
	text-align: center;
}
.b-footer ul li{
	display: inline-block;
	background: #d2d2d1;
	border-radius: 100%;
	padding: 14px;
	margin-right: 18px;
}
.b-footer ul li:last-child{margin-right: 0;}
.b-footer ul li .social-footer-1{
	background: url(../img/footer-i-1.png)no-repeat;
	width: 32px;
	height: 32px;
}
.b-footer ul li .social-footer-2{
	background: url(../img/footer-i-2.png)no-repeat 8px;
	width: 32px;
	height: 32px;
}
.b-footer ul li .social-footer-3{
	background: url(../img/footer-i-3.png)no-repeat  0 4px;
	width: 32px;
	height: 32px;
}
.b-footer ul li .social-footer-4{
	background: url(../img/footer-i-4.png)no-repeat;
	width: 32px;
	height: 32px;
}
.b-footer .footer-bottom{
	margin-top: 35px;
	
}
.b-footer p{
	color: #2d2d2d;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}
.b-footer .footer-florence{
	color: #2e2e2e;
	font-size: 16px;
	font-weight: lighter;
}

