@media (min-width: 480px) {
  .range > .size-25 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .range > .size-50 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .range-xs-center {
    justify-content: center;
  }
  .nav-filters-list {
    right: auto;
    left: 0;
  }
  html .mailform-inline {
    display: flex;
  }
  html .mailform-inline .button {
    margin-top: 0;
    margin-left: 10px;
    flex: none;
  }
  html .mailform-inline .form-wrap {
    flex-grow: 1;
  }
  html .mailform-inline .button {
    margin-top: 0;
    margin-left: 10px;
    flex: none;
  }
  .section-left-sidebar .soc-icon .icon {
    width: 48px;
    height: 48px;
  }
  html:not(.lt-ie10) .text-xs-left {
    text-align: left;
  }
  .unit__xs-middle {
    align-items: center;
  }
  .unit__xs-horizontal {
    flex-direction: row;
  }
  .unit__xs-horizontal > .unit__left + .unit__right,
  .unit__xs-horizontal > .unit__left + .unit__body {
    padding-top: 0;
    padding-left: 30px;
  }
  .modal .modal-dialog {
    max-width: 370px;
  }
  .modal .modal-dialog .modal-content {
    padding: 30px;
  }
  .modal .modal-dialog .form-footer .button {
    min-width: 150px;
  }
  .to__top {
    right: 40px;
    bottom: 40px;
  }
  .post__nav {
    flex-direction: row;
  }
  .post__nav .next-post {
    margin-top: 0;
    text-align: right;
  }
  .post__nav .next-post, .post__nav .prev-post {
    flex-basis: 50%;
  }
  .post__nav .next-post > a + h5, .post__nav .prev-post > a + h5 {
    margin-top: 25px;
  }
  .comment-item + .comment-item, .comment-item + .comment-item-reply,
  .comment-item-reply + .comment-item {
    margin-top: 20px;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  h6, .heading {
    line-height: 1.33333;
    font-size: 15px;
  }
  h5 {
    line-height: 1.44444;
    font-size: 18px;
  }
  h4 {
    line-height: 1.25;
    font-size: 24px;
  }
  h3 {
    line-height: 1.27778;
    font-size: 36px;
  }
  h2 {
    line-height: 1.17391;
    font-size: 45px;
  }
  h1 {
    line-height: 1.15789;
    font-size: 76px;
  }
  .container {
      width: 720px;
  }
  .slide img {
    width: inherit;
  }
  .slide img {
    position: absolute;
    left: 50%;
    max-width: inherit;
    transform: translateX(-50%);
    z-index: 0;
  } 
  .range > .size-50 {
    flex-basis: 50%;
    max-width: 50%;
  }  
  .post__item-1 img {
    width: inherit;
  }  
  .section-left-sidebar {
    padding-top: 40px;
  }  
  .tabs.tabs-horizontal .nav-custom-tabs {
    position: relative;
    justify-content: center;
    display: flex;
  }
  .tabs .nav-custom-tabs li + li {
    margin-top: 0;
    margin-left: 10px;
  }
  .tabs.tabs-horizontal .nav-custom-tabs li a {
    display: block;
    padding: 10px 25px;
    font-weight: 700;
    color: #888a8c;
    letter-spacing: -.02em;
    background: transparent;
    border: 2px solid #b2b2b2;
    border-radius: 25px;
  }
  .tabs__item.tabs .nav-custom-tabs li a {
    font-size: 12px;
    color: #4a4a4a;
    background: #f5f5f5;
    border: 1px solid #e1e1e1;
    border-radius: 0;
  }
  .tabs.tabs-horizontal .nav-custom-tabs li a:hover,
  .tabs.tabs-horizontal .nav-custom-tabs li.current a {
    color: #4a4a4a;
    background: #fff;
    border-color: #e1e1e1;
    border-bottom-color: #fff;
  }
  .tabs__item.tabs .nav-custom-tabs li.active a {
    border-bottom: 1px solid #fff;
  }
  .tab-content {
    padding-top: 20px;
  } 
  .tabs__item.tabs .nav-custom-tabs {
    border-bottom: 1px solid #e1e1e1;
    justify-content: flex-start;
    padding: 0 15px;
  }
  .unit__sm-horizontal {
    flex-direction: row;
  } 
  .unit__sm-horizontal > .unit__left + .unit__right,
  .unit__sm-horizontal > .unit__left + .unit__body {
    padding-top: 0;
    padding-left: 30px;
  } 
  .post__item-3n .bottom-block {
    display: flex;
    justify-content: flex-start;
    min-height: 32px;
  }
  .post__item-3 * + .tag-list__item {
    margin-top: 0;
    margin-left: 20px;
  } 
  .modal .modal-dialog {
    margin-top: 100px;
    margin-right: 50px;
  } 
  .modal-content {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  } 
  .contact-box .mailform textarea {
    height: 280px;
  } 
  .show {
    width: 50%;
  }
  .post__nav {
    padding-top: 40px;
  }
  .reveal-sm-inline {
    display: inline;
  }
  .comment-item-reply {
    margin-left: 60px;
  }                  
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
  .slide img {
    position: relative;
    width: 100%;
    height: 100%;
  } 
 .slide .tag-list {
    top: 30px;
    left: 30px;
  }
  .slide .tag-list {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
  }
  .slider-section .slide .caption {
    bottom: 60px;
  }
  .slider-wrapper .caption {
    bottom: 60px;
  }  
  .slide .caption {
    left: 30px;
    right: 30px;
    bottom: 18px;
  }
  .slide .caption {
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 20px;
    text-align: left;
    z-index: 2;
  } 
  .post__item-1 .tag-list {
    top: 30px;
    left: 30px;
  } 
  .post__item-1 .caption {
    left: 30px;
    right: 30px;
    bottom: 18px;
  } 
  .post__item-1 img {
    position: relative;
    width: 100%;
    height: 100%;
  } 
  .nav-filters-list > li {
    display: inline-block;
  }  
  .nav-filters-list {
    position: static;
    display: inline-block;
    float: none;
    padding: 0;
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 0;
    border-bottom: 1px solid #c0c1c1;
    overflow: visible;
  } 
  .nav-filters-toggle {
    display: none;
  }
  .section-left-sidebar.section-left-sidebar__item {
    padding-top: 0;
  }
  .show {
    width: 33.33333%;
  }
  .desktop .header-absolute {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }
  .desktop .header-absolute {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }
  .page-title {
    padding: 170px 0 140px;
  }
  .page-title {
    padding: 60px 0;
  } 
  html:not(.lt-ie10) .text-md-left {
    text-align: left;
  } 
  .pagination-button {
    padding: 5px 25px;
  }                
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
  .header-home .navbar__search {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }  
  .navbar__search .search {
    width: 100%;
  }  
  .slide img {
    width: inherit;
  } 
  .slide .caption .title {
    padding-right: 100px;
  }
  .slide .caption .title {
    line-height: 1.1;
    color: #fff;
  }
  .slide .caption .title a {
    color: #fff;
  }
  .slide .caption .title + * {
    margin-top: 10px;
  }
  .slide .caption .meta-list li {
    color: #fff;
  }
  .post__item-1 .caption .title {
    padding-right: 100px;
  }  
  .range > .size-25 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .range > .size-33 {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
  .range > .size-66 {
    flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
  .range > .size-100 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .post__item-1 img {
    width: inherit;
  }
  [data-nav-layout] > [class*="col-"] {
    margin-top: 30px;
  }
  .tabs__item.tabs .nav-custom-tabs li a {
    font-size: 15px;
    padding: 10px 20px;
  }  
  .show {
    width: 25%;
  } 
  .page-title {
    padding: 150px 0;
  }            
}
@media (min-width: 1440px) {
  .modal .modal-dialog {
    margin-right: calc((100vw - 1440px)/2);
  }
}
@media (max-width: 992px) {
  .post__item-1 {
    margin-top: 20px;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 695px) {
   .show {
    width: 100%;
    margin-top: 30px;
  }
  [data-nav-layout].show {
    opacity: 1;}
}
@media (max-width: 480px) {
  .gallery .range .size-50 {
    flex-basis: 50%;
    max-width: 50%;
  }
}