@font-face {
    font-family: 'Hattori_Hanzo';
    src: url('../fonts/Hattori_Hanzo.eot');
    src: url('../fonts/Hattori_Hanzo.eot') format('embedded-opentype'),
         url('../fonts/Hattori_Hanzo.woff2') format('woff2'),
         url('../fonts/Hattori_Hanzo.woff') format('woff'),
         url('../fonts/Hattori_Hanzo.ttf') format('truetype'),
         url('../fonts/Hattori_Hanzo.svg#Hattori_Hanzo') format('svg');
}

@font-face {
    font-family: 'TrebuchetMS';
    src: url('../fonts/TrebuchetMS.eot');
    src: url('../fonts/TrebuchetMS.eot') format('embedded-opentype'),
         url('../fonts/TrebuchetMS.woff2') format('woff2'),
         url('../fonts/TrebuchetMS.woff') format('woff'),
         url('../fonts/TrebuchetMS.ttf') format('truetype'),
         url('../fonts/TrebuchetMS.svg#TrebuchetMS') format('svg');
}

@font-face {
    font-family: 'HattoriHanzoLight';
    src: url('../fonts/HattoriHanzoLight.eot');
    src: url('../fonts/HattoriHanzoLight.eot') format('embedded-opentype'),
         url('../fonts/HattoriHanzoLight.woff2') format('woff2'),
         url('../fonts/HattoriHanzoLight.woff') format('woff'),
         url('../fonts/HattoriHanzoLight.ttf') format('truetype'),
         url('../fonts/HattoriHanzoLight.svg#HattoriHanzoLight') format('svg');
}

a{
	font: 16px "HattoriHanzoLight", sans-serif;
	color: #3a3a3a; 
	text-decoration: none;
}

p{color: #3a3a3a;}

h2{font-family: 26px "HattoriHanzoLight", sans-serif;}

h3{font-family: 22px "HattoriHanzoLight", sans-serif;}

* {margin: 0; padding: 0;}

li{list-style: none;}


body {
	font: 11px "TrebuchetMS", sans-serif; /*шрифт по умолчанию документа*/
	color: #484848; /*цвет текста документа*/
	background: #ffffff; /*фон документа*/
	/*min-width: 1100px;*/
}

.wrapper{
	width: 1100px;
	margin: 0 auto;
}

#top-form:after {content: ""; display: block;clear: both;}

#top-form{background: #31412d; height: 36px;}

.top-form:after {content: ""; display: block;clear: both;}

.top-form{
	position: relative;
	top: 0;
	right: 0;
	height: 36px;
}

.lang-reg:after {content: ""; display: block;clear: right;}

.langv{float: left;}

.lang-reg ul li{float: left;}

.lang-reg ul li a{
	color: #989b97;
	display: block;
	padding-right: 12px;
	font-size: 14px;
	cursor: pointer;
	padding-top: 10px;
}

.lang-reg ul li.active a{
	color: #73da29;
	cursor: pointer;
}

.lang-reg p{
	float: left;
	color: #989b97;
	font-size: 14px;
	font-family: "Hattori_Hanzo", sans-serif;
	font-weight: bold;
	line-height: 17px;
	padding-top: 8px;
	padding-left: 140px;
}

.lang-reg p:before{
	content:"";
	background:#333 url("../images/header_key.png") no-repeat;
	background-position: 0 0;
	width: 12px;
	height: 18px;
	display: block;
	float: left;
	padding-left: 5px;
}

.login-registration:after {content: ""; display: block;clear: both;}

.login-registration{
	background: linear-gradient( #c6cac6, #898a89); 
	position: absolute;
	right: 0;
	padding: 0 58px  0 10px;
	box-sizing: border-box;
}

.search-block-form{height: 36px; }

.search-block-form .form-search{
	width: 284px;
	height: 23px;
	-webkit-border-radius: 11px 12px 12px 11px/11px 11px 12px 12px;
	-moz-border-radius: 11px 12px 12px 11px/11px 11px 12px 12px;
	border-radius: 11px 12px 12px 11px/11px 11px 12px 12px;
	background-color: #fff;
	-webkit-box-shadow: inset 1px 2px 5px rgba(0,0,0,.34);
	-moz-box-shadow: inset 1px 2px 5px rgba(0,0,0,.34);
	box-shadow: inset 1px 2px 5px rgba(0,0,0,.34);
	padding-left: 15px;
	padding-right: 20px;
	margin-right: 20px;
	color: #b0b0b0;
	margin-top: 5px;

}

.form-search:focus, .form-category:focus, .form-submit:focus{outline: none;}

.search-block-form .form-category{
	width: 304px;
	height: 25px;
	-webkit-border-radius: 11px 12px 12px 11px/11px 11px 12px 12px;
	-moz-border-radius: 11px 12px 12px 11px/11px 11px 12px 12px;
	border-radius: 11px 12px 12px 11px/11px 11px 12px 12px;
	background-color: #fff;
	-webkit-box-shadow: inset 1px 2px 5px rgba(0,0,0,.34);
	-moz-box-shadow: inset 1px 2px 5px rgba(0,0,0,.34);
	box-shadow: inset 1px 2px 5px rgba(0,0,0,.34);
	padding-left: 15px;
	padding-right: 10px;
	color: #b0b0b0;
	box-sizing: border-box;
}

.search-block-form .form-submit{
	width: 40px;
	height: 36px;
	background: url(../images/buttom.png) no-repeat;
	border: none;
	position: absolute;
	right: 0;
	top: 0;
	cursor: pointer;
}

.block-top-container:after {content: ""; display: block;clear: both;}
   
.block-top-container{margin-top: 47px;}

.header:after {content: ""; display: block;clear: both;}

.logo:after {content: ""; display: block;clear: both;}

.logo{
	float: left;
}

.logo img{
	float: left;
	margin-right: 13px;
}

.logo p{
	text-transform: uppercase;
	color: #4e4e4e;
	font-size: 33px;
	padding-top: 4px;
	display: inline-block;
	font: 33px 'HattoriHanzoLight' sans-serif;
}

.nav{
	float: right;
	margin: 14px 0 22px 0;
}

.nav:after {content: ""; display: block;clear: both;}

.nav ul li{
	float: left;
	margin-left: 2px;
}

.nav ul li a{
	display: block;
	height: 26px;
	line-height: 26px;
	color: #3a3a3a;
	font-size: 14px;
	cursor: pointer;
	padding: 0 20px;
}

.nav ul li.active a, .nav ul li a:hover{
	background: url(../images/bg-menu.png) repeat-x;	
	color: #fff;
}

.slider:after {content: ""; display: block;clear: both;}

.owl-stage-outer{
  width: 1099px;
  height: 415px;
  overflow: hidden;
}

.owl-item{
  float: left;
}

.slider-photo{
  width: 1099px;
  height: 415px;
  position: relative;
}

.owl-carousel div p{
    position:absolute;
    top: 331px;
    display:block;
    padding: 16px 5px 13px 10px;
	color: #fff;
	width: 1099px;
	color: #b0b0b0;
	background: #3b332e;
	opacity: 0.8;
	font-size: 14px;
	line-height: 1.2;
	font: 14px "HattoriHanzoLight", sans-serif;
}

.owl-carousel div p span{
	color: #f5f5f5;
	display: block;
	width: 206px;
	height: 55px;
	float: left;
	cursor: pointer;
}


/*.slider {
    height: 415px;
    width: 1099px;
}
.slider{
	position: relative;
	margin-top: 20px;
}

.slider img {
    height: 415px;
    width: 1099px;
}

.karlov-most p{
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 2;
	padding-left: 10px;
	padding: 15px 5px 10px 5px;
	color: #b0b0b0;
	background: #3b332e;
	opacity: 0.8;
	font-size: 14px;
	line-height: 1.2;
	font: 14px "HattoriHanzoLight", sans-serif;
}

.karlov-most p span{
	color: #f5f5f5;
	display: block;
	width: 206px;
	height: 55px;
	float: left;
	cursor: pointer;	
}*/

.main:after {content: ""; display: block;clear: both;}

.sidebar-top{
	width: 32%;
	float: left;
}

.content{margin-left: 34%;}

.recomend:after {content: ""; display: block;clear: both;}

.block-reccomend{padding: 10px 12px 13px 12px;}

.recomend{
	background: #cbcfca; 
}

.recomend h2{
	font-size: 24px;
	color: #484848;
	margin: 0 0 14px 0;
}

.recomend h2:before{
	content:"";
	background: url("../images/check.png") no-repeat;
	background-position: 0 0;
	width: 20px;
	height: 20px;
	display: block;
	float: left;
}

.recomend img{
	margin-bottom: 11px;
}

.recomend h3{
	font-size: 22px;
	color: #348812;
}

.recomend p{
	font-size: 11px;
	font-family: "Trebuchet MS", sans-serif;
	color: #484848;
	line-height: 1.3;
	padding-top: 10px;
}

.podrobnee{
	/*width: 32%;
	height: 100%;*/
	background: #cbcfca; 
	float: right;
}

.podrobnee span{
	width: 68px;
	height: 18px;
	background: #31412d;
	float: right;
}

.podrobnee span a{
	text-decoration: none;
	color: #fff;
	font-size: 11px;
	font-family: "Trebuchet MS", sans-serif;
	padding-left: 7px;
	cursor: pointer;
}

.praga-mup{margin-top: 12px;}

.praga-mup img{
	width: 352px;
	height: 329px;
	overflow: hidden;
	cursor: pointer;
}

.praga-mup h2{
	color: #3d9216;
	font-size: 24px;
	margin-bottom: 6px;
	padding-top: 18px;
}

.praga-mup h2:before{
	content:"";
	background: url("../images/icon-karta.png") no-repeat 0 3px;
	width: 20px;
	height: 24px;
	display: block;
	float: left;
	padding-left: 4px;
}

.lunch{
	margin-top: 25px;
	margin-bottom: 25px;
}

.lunch{
	width: 725px;
	height: 359px;
}

.project{
	padding-top: 3px;
}

.project h2{
	color: #3d9216;
	font-size: 24px;
	margin-bottom: 7px;
}

.project h2:before{
	content:"";
	background: url("../images/icon-proect.png") no-repeat 0 3px;
	width: 20px;
	height: 24px;
	display: block;
	float: left;
	padding-left: 4px;
}

.project .photo-project{float: left; margin: 0 15px 5px 0;}

.project .social{float: right;}

.project p{
	color: #484848;
	font-size: 11px;
	font-family: "Trebuchet MS", sans-serif;
	line-height: 1.5;
	margin-bottom: 15px;
}

.project .first{
	margin-top: 40px;
}

.first{margin-top: 28px;}

.food:after {content: ""; display: block;clear: both;}

.food{
	background: #31412d;
	border-top: 1px solid #0d110c;
	box-shadow-top: #222d1f;
	box-shadow-bottom: #222d1f;
	border-bottom: 1px solid #0d110c;
}

.container-food:after {content: ""; display: block;clear: both;}

.container-food{width: 100%;}

.container-food h2{
	color: #fff;
	font-size: 24px;
	margin-top: 7px;
	margin-bottom: 7px;
}

.container-food h2:before{
	content:"";
	background: url("../images/icon-object.png") no-repeat 0 3px;
	width: 20px;
	height: 24px;
	display: block;
	float: left;
	padding-left: 6px;
}

.block-food{
	width: 32%;
	float: left;
	margin-right: 2%;
	padding-bottom: 20px;
}
.block-food:last-child {margin-right: 0}

.block-food h3{
	color: #ffffff;
	font-size: 14px;
	font-family: "Trebuchet MS", sans-serif;
	margin-top: 11px;
}

.food .block-food p{
	color: #cdcfcd;
	font: 12px "Trebuchet MS", sans-serif;
	line-height: 1.3;
	margin-top: 4px;
	margin-bottom: 2px;
}

.block-food span{float: right;}

.block-food span a{
	color: #fff;
	font-size: 12px;
	font-family: "Trebuchet MS", sans-serif;
	text-decoration: underline;
}

.title img{
	width: 353px;
	height: 144px;
}

.title{position: relative;}

.block-food .title p{
	position: absolute;
	bottom: 0;
	left: 0;
	background: rgba(74, 123, 24, 0.9);
	color: #fff;
	padding: 1px 5px 1px 7px;
	font: 20px "HattoriHanzoLight", sans-serif;
}


.container-interesting:after {content: ""; display: block;clear: both;}

.block-interesting:after {content: ""; display: block;clear: both;}

.block-interesting{margin-top: 24px;}

.fact{
	width: 32%;
	height: 100%;
	background: #cbcfca; 
	float: left;
}

.fact h2{
	font-size: 24px;
	color: #484848;
	margin: 11px 0 14px 15px;
}

.fact h2:before{
	content:"";
	background: url("../images/icon-fact.png") no-repeat 0 3px;
	width: 20px;
	height: 24px;
	display: block;
	float: left;
	padding-left: 4px;
}

.fact img{
	margin-left: 12px;
	margin-bottom: 11px;
}

.fact p{
	font-size: 11px;
	font-family: "Trebuchet MS", sans-serif;
	color: #484848;
	padding-left: 12px;
	padding-right: 13px;
	line-height: 1.3;
	margin-bottom: 17px;
}

.fact span{
	width: 68px;
	height: 18px;
	background: #31412d;
	float: right;
}

.fact span a{
	text-decoration: none;
	color: #fff;
	font-size: 11px;
	font-family: "Trebuchet MS", sans-serif;
	padding-left: 7px;
	cursor: pointer;
}


.interesting-new:after {content: ""; display: block;clear: both;}


.interesting-new{
	overflow: hidden;
	float: right;
	width: 67%;
}

.interesting{
	float: left;
	width: 50%;
	/*margin-left: 8px;*/
	margin-top: 14px;
}

#interesting{margin-left: -352px;}

.interesting-new h2{
	color: #3d9216;
	font-size: 24px;
	margin-bottom: 7px;

}

.interesting-new h2:before{
	content:"";
	background: url("../images/icon-interesting.png") no-repeat 0 4px;
	width: 20px;
	height: 24px;
	display: block;
	float: left;
	padding-left: 4px;
	margin-left: 10px;
}

.list-interesting{
	overflow: hidden;
	float: right;
	width: 99%;
}

.interesting img{
	float: left;
	margin-right: 10px;
}

.interesting a h3{
	color: #3d9216;
	font-size: 13px;
	font-family: "Hattori Hanzo", sans-serif;
}

.interesting a h3:hover{
	text-decoration: underline;
}

.interesting ul li{
	line-height: 1.1;
}

.interesting ul li a{
	color: #484848;
	font-size: 12px;
	font-family: "Hattori Hanzo", sans-serif;
}

.interesting ul li a:hover{
	color: #848484;
	text-decoration: underline;
}	

.interesting ul li:before{
    list-style-type: none;/* Прячем исходные маркеры */
    color: #3d9216; /* Цвет маркера */
    content: "•"; /* Сам маркер */
    font-size: 16px; /*Размер маркера*/
    padding-right: 2px;
}

.block-event:after {content: ""; display: block;clear: both;}

.block-event{
	margin-top: 25px;
	margin-bottom: 30px;
}

.new-event h2{
	color: #3d9216;
	font-size: 24px;
	margin-bottom: 7px;
	overflow: hidden;
}

.new-event h2:before{
	content:"";
	background: url("../images/icon-new.png") no-repeat 0 4px;
	width: 20px;
	height: 24px;
	display: block;
	float: left;
	padding-left: 6px;
}

.article{
	width: 32%;
	float: left;
	margin-right: 2%;
	line-height: 1.2;
}

.article:last-child{margin-right: 0;}

.article h3{
	color: #484848;
	font-size: 20px;
	font-family: "Trebuchet MS", sans-serif;
	/*width: 342px;*/
	height: auto;
	background: #cbcfca;
	padding-top: 10px; 
	padding-left: 10px;
	margin-bottom: 12px;
}

.article .zagolovok{
	color: #484848;
	font-size: 20px;
	font-family: "Trebuchet MS", sans-serif;
	background: #cbcfca;
	height: 77px;
	padding-top: 5px; 
	padding-left: 10px;
	margin-bottom: 16px;
	: 342px;
}

.article .podrobnee{margin-top:4px;}

.article p{
	color: #484848;
	margin-bottom: 8px;
	line-height: 1.3;
	font: 11px "Trebuchet MS", sans-serif;
}

.article span{
	color: #3d9216;
	font-size: 12px;
	text-decoration: underline;
	float: right;
	cursor: pointer;
	margin-top: -3px;
}

.block-bottom:after {content: ""; display: block;clear: both;}

.container-bottom{	
	background: #cbcfca;
	border-top: 1px solid #313231;
	border-bottom: 1px solid #313231;
}

.block-bottom{
	padding-top: 16px;
}

.block-list-menu{
	float: left;
	width: 33.33%;
}

.block-restourant-list{
	float: left;
	width: 50%;
}

.block-restourant-list ul li a{
	font: 12px "TrebuchetMS", sans-serif;
	color: #31412d;
}

.restourant-list ul li a{
	font: 13px "TrebuchetMS", sans-serif;
	color: #31412d;
}

.block-restourant-list h3{
	font: 13px "Hattori Hanzo", sans-serif;
	color: #31412d;
}

.block-restourant-list ul li{
	list-style-type: disc;
	color: #484848;
	list-style-position: inside;
	padding-left: 3px;
}

.block-list-menu-2{margin-left: 1%; width: 32.33%;}

.block-restourant-list ul li a:hover{
	color: #848484;
	text-decoration: underline;
}

.block-footer:after {content: ""; display: block;clear: both;}

.footer{background: #31412d;}

.block-footer{
	padding-top: 20px;
	width: 100%;
}

.wrapper-footer{
	width: 1100px;
	margin: 0 auto;
}

.copyright-social-footer:after {content: ""; display: block;clear: both;}

.copyright-social-footer{
	float: left;
	width: 34%;
}

.copyright-social-footer ul{
	margin-bottom: 20px;
}

.copyright-social-footer ul li a img{
	float: left;
	margin-right: 20px;
}

.copyright-social-footer ul li{
	font-size: 11px;
	font-family: "Trebuchet MS", sans-serif;
	color: #989898;
}

.copyright-social-footer ul li a{
	font-size: 11px;
	font-family: "Trebuchet MS", sans-serif;
	color: #fff;
}

.text-footer{
	width: 66%;
	float: right;
}

.text-footer p{
	font-size: 11px;
	font-family: "Trebuchet MS", sans-serif;
	color: #989898;
	line-height: 1.2;
}
