@font-face {
    font-family: 'BebasRegular';
    src: url('../fonts/BebasRegular.eot');
    src: url('../fonts/BebasRegular.eot') format('embedded-opentype'),
         url('../fonts/BebasRegular.woff2') format('woff2'),
         url('../fonts/BebasRegular.woff') format('woff'),
         url('../fonts/BebasRegular.ttf') format('truetype'),
         url('../fonts/BebasRegular.svg#BebasRegular') format('svg');
}

* {	margin: 0; padding: 0;}

html{background: url(../images/bg.png) repeat;}

body{
	position: relative;
	font: 12px Arial, sans-serif; /*шрифт по умолчанию документа*/
	color: #202021; /*цвет текста документа*/
	background: url(../images/mup-bg.png) no-repeat top center;
	min-width: 980px; /*мин ширина от мелких ошибок*/
}

li{list-style: none;}

a{
	text-decoration: none;
	font: 12px Arial, sans-serif;
}

h4{font-weight: bold; font-size: 13px;}

h2{font: bold 20px "BebasRegular", sans-serif; text-transform: uppercase;}


#wrapper{
	width: 936px;
	margin: 0 auto;
	background: #fff;
	padding: 0 22px 0 22px;
}

#header:after {content: ""; display: block;clear: both;}

.logo{
	overflow: hidden;
	float: left;
	margin-top: 24px;
}

.logo img{
	width: 241px;
	height: 37px;
}

.nav-top{
	overflow: hidden;
	display: inline-block;
	margin: 57px 0 0 110px;
	float: left;
}

.nav-top ul li{
	float: left;
	border-left: 1px solid #202021;
}

.nav-top ul li:first-child{
	border-left: none;
}

.nav-top ul li a{
	display: block;
	padding: 0 10px 0 10px;
	color: #cf0000;
}

.nav-top ul li a:hover{
	color: #191919;
}

.nav{
	border-bottom: 1px dotted #202021;
	padding-bottom: 33px;
}

.social-form{
	float: right;
	margin-top: 14px;
}

.social{
	margin-bottom: 7px;
}

.social a img{
	margin-right: 3px;
}

.social .active{
	margin-left: 3px;
	margin-right: 6px;
	margin-bottom: -3px;
}

#search-block-form{
	position: relative;
}

.form-search{
	width: 190px;
	height: 26px;
	background: #f8f8f8;
	border: none;
	border: 1px solid #bababa;
	padding-left: 15px;
	padding-right: 40px;
	float: left;
	color: #000;
}

.form-search:focus{
	outline: none;
}

.form-button{
	width: 32px;
	height: 28px;
	background: url(../images/button-form-search.png);
	border: none;
	position: absolute;
	right: 1px;
}

.nav {content: ""; display: block;clear: both;}

.nav{
	background: url(../images/bg-menu.png) repeat-x;
	float: left;
	margin-top: 14px;
	padding-bottom: 0;
}

.nav ul li{
	float: left;
}

.nav ul li a{
	display: block;
	padding: 10px 24px 10px 25px;
	font: 16px "BebasRegular", sans-serif; 
	text-transform: uppercase;
	color: #fff;
}

.nav ul li a:hover{
	color: #cf0000;
}

#slider:after {content: ""; display: block;clear: both;}

#slider{
	margin-top: 58px;
}

#slider>.slider{
	background: #202021;
	float: left;
	padding: 12px;
	position: relative;
}

.photo-slider:after {content: ""; display: block;clear: both;}

.photo-slider{
	float: left;
	margin-right: 10px;
}

.photo-slider img{
	border: 3px solid #000;
}

.photo-slider .description-photo{
	position: absolute;
	bottom: 18px;
	color: #fff;
	background: rgba(15, 15, 15, 0.8);
}

.photo-slider .description-photo p{
	padding: 8px 35px 4px 154px;
	width: 337px;
}

.galery-photo{
	float: right;
}

.galery-photo ul li{
	margin-bottom: 2px;
}

.galery-photo img:hover{
	border: 2px solid #cf0000;
	width: 103px;
	height: 63px;
}

.button-news{
	position: absolute;
	bottom: 0;
	left: 0;
	background: #cf0000;
	padding: 8px;
	color: #fff;
	text-transform: uppercase;
	font-size: 10px;
}

.list-slider{
	float: right;
	width: 250px;
	background: #e4e4e4;
	cursor: pointer;
}

.list-slider .icon-video img{
	float: left;
	width: 68px;
	height: 56px;
	overflow: hidden;
	margin-right: 9px;
}

.icon-video{
	overflow: hidden;
}

.list-slider .icon-video ul li{
	float: left;
	margin-bottom: 18px;
	padding-left: 20px;
	width: 205px;
}

.list-slider .icon-video ul li h4{
	font: 12px 'Arial', sans-serif;
	font-weight: bold; 
	margin-top: 4px;
}

.lorem-red{
	color: #cf0000;
}

.list-slider .icon-video ul{
	padding-top: 10px;
}

.list-slider .icon-video ul li:last-child{
	margin-bottom: 7px;
}

.list-slider .btn-more, .world h2 span, .articles h2 span, .gallery h2 span, .tech-news h2 span, .desk-span, .popular-span{
	float: right;
	background: #cf0000;
	padding: 5px 8px 6px 12px;
	color: #fff;
	text-transform: uppercase;
	font: bold 10px 'Arial', sans-serif;
	cursor: pointer;
}

.sidebar{
	width: 250px;
	float: right;
	margin-top: 20px;
	
}

.sidebar .albertafilm{
	width: 250px;
	height: 229px;
	overflow: hidden;
	margin-bottom: 14px;
}

.newsletter{
	background: #e4e4e4; 
	padding: 10px 14px 17px 14px;
}

.newsletter h2{
	margin-bottom: 5px;
}

#search-form{
	margin-top: 15px;
}

.txt{
	width: 165px;
	height: 26px;
	border: none;
	background: #f8f8f8;
	margin-bottom: 5px;
	padding-left: 15px;
	padding-right: 25px;
	border: 1px solid #bababa;
	color: #202021;
	font: 12px 'Arial', sans-serif;
}

.txt:focus{
	outline: none;
}

.botton-search{
	width: 101px;
	height: 26px;
	background: #cf0000;
	color: #fff;
	border: none;
	text-transform: uppercase;
	font: bold 13px 'Arial', sans-serif;
	margin-top: 3px;
	cursor: pointer;
}

.newsletter h2{
	font-size: 16px; 
	font-weight: bold;
}

.newsletter .spam p{
	padding-top: 10px;
	color: #cf0000;
	font: 12px 'Arial', sans-serif;
}



.popular{
	margin-top: 18px;
}

.popular h2{
	color: #cf0000;
	border-bottom: 2px solid #cf0000;
}

.popular-span{
	float: left;
	margin-bottom: 38px;
}

.block-popular{
	border-bottom: 1px dotted #202021;
	padding-bottom: 15px;
}

.block-popular h4{
	font: italic 11px 'Arial', sans-serif;
	padding-top: 15px;
}

.block-popular p{
	font-weight: bold;
	font-size: 13px;
}

.block-popular p span a{
	font: bold 10px 'Arial', sans-serif;
	text-transform: uppercase;
	color: #cf0000; 
	margin-left: 2px;
}

#block-popular{
	border-bottom: none;
}
 
.popular span img{
	width: 61px;
	height: 18px;
}

.popular img{
	margin-bottom: 32px;
	width: 250px;
	height: 133px;
	overflow: hidden;
}

.lorem-dotted{
	border-bottom: none;
}

.main-content:after {content: ""; display: block;clear: both;}

.main-content{
	margin-right: 263px;
	overflow: hidden;
}

.content{
	width: 460px;
	float: left;
}

.world, .articles, .gallery, .tech-news{
	overflow: hidden;
}

.world h2, .articles h2, .gallery h2{
	border-bottom: 2px solid #cf0000;
	margin-bottom: 17px;
	margin-top: 21px;
	line-height: 0.9;
}

.tech-news h2{
	margin-top: 12px;
	border-bottom: 2px solid #cf0000;
	margin-bottom: 16px;
	line-height: 1;
}

.world h2 span, .articles h2 span, .gallery h2 span, .tech-news h2 span{
	margin-top: -5px;
}

.gallery span img{
	width: 61px;
	height: 18px;
}

.gallery img{
	margin-right: 8px;
	margin-bottom: 8px;
	width: 145px;
	height: 100px;
	overflow: hidden;
}

.gallery img:nth-child(3n+1){
	margin-right: 0;
}

.block-world,  .block-latest{
	float: left;
	width: 145px;
	margin-right: 12px;
}

.block-world h4{
	font-size: 13px;
}

.block-world p, .block-latest p{
	margin-bottom: 10px;
}

.block-world a img, .block-latest a img{
	margin-bottom: 10px;
	width: 145px;
	height: 100px;
	overflow: hidden;
}

.block-world span a, .block-latest span a{
	text-transform: uppercase;
	font: bold 10px 'Arial', sans-serif;
	color: #cf0000;
}

.block-latest h4{
	font-size: 13px;
}

.block-world:last-child, .block-latest:last-child{
	margin-right: 0;
}

.block-news{
	float: left;
	width: 215px;
	margin-right: 30px;
}

.block-block-news{
	border-bottom: 1px dotted #202021;
	padding-bottom: 13px;
}

.block-news:nth-child(odd){
	margin-right: 0;
	margin-bottom: 14px;
}

.block-news h4{
	font: bold 13px 'Arial', sans-serif;
	word-spacing: 2px;
}

.block-news p{
	font-size: 12px;
	word-spacing: 4px;
}

.block-news span{
	font: 11px 'Arial', sans-serif;
}

.block-news span a{
	color: #cf0000;
}

.right-content{
	width: 190px;
	float: right;
}

.desk:after {content: ""; display: block;clear: both;}

.desk{
	margin-top: 20px;
}

.block-desk{
	margin-top: 15px;
	border-bottom: 1px dotted #202021;
	padding-bottom: 15px;
}

#block-desk{
	border-bottom: none;
}

.block-desk h4{
	font-size: 13px;
}

.block-desk p:last-child{
	border-bottom: none;
}

.block-desk p{
	margin-top: 6px;
}

.block-desk p a{
	font: 10px 'Arial', sans-serif;
	text-transform: uppercase;
	color: #cf0000;
	padding-right: 15px;
}

.desk-span{
	float: left;
}

.editorial:after {content: ""; display: block;clear: both;}

.editorial h2{
	margin-bottom: 5px;
	margin-top: 17px;
}

.editorial img{
	width: 189px;
	height: 100px;
	overflow: hidden;
	margin-bottom: 6px;
	margin-top: 6px;
}

.editorial a h4{
	font: bold 13px 'Arial', sans-serif;
	color: #cf0000;
}

#banner{
	border-bottom: 1px dotted #202021;
	padding-bottom: 23px;
	text-align: center;
}

#banner img{
	width: 728px;
	height: 90px;
	display: inline-block;
	margin-top: 25px;
}

.nav-footer ul{
	overflow: hidden;
	margin-left: 42px;
	margin-top: 18px;
	margin-bottom: 20px;
}

.nav-footer ul li{
	float: left;
	border-left: 1px solid #202021;
}

.nav-footer ul li:first-child{
	border-left: none;
}

.nav-footer ul li a{
	font: 13px 'Arial', sans-serif;
	display: block;
	padding: 0 17px 0 17px;
	color: #020305;
}

.nav-footer ul li a:hover{
	color: #cf0000;
}

#footer p{
	text-align: center;
	line-height: 1.7;
	color: #020305;
}