@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext,latin-ext,greek-ext,cyrillic,greek,vietnamese);

* {
    padding: 0;
    margin: 0;
    outline:none;
}
img {
    border: 0;
}
ol,ul{
    list-style:none;
}

:focus {
    outline:0
}
html, body{
    height: 100%;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background: #fff;
    color: #000;
}
.container{
  box-sizing: border-box;
  min-height: 100%;
  padding-bottom: 100px;
}
h1{
    font-size: 27px;
    color: #fff;
    font-weight: lighter;
}
h2{
    font-size: 32px; 
    font-weight: bold;
}
h3 a{
    font-size: 12px; 
    font-weight: Semi-Bold;
    color: #31343b;
}
h3 a:hover{
    font-weight: normal;
    color: #fefefe;
}
h4 a{
    font-weight: normal;
}
a {
    color: #484d69;
}
p{
    line-height: 24px;
}
span a{
    font-size: 13.34px;
    color: #484d69;
}

.wrapper{
    margin: 0 auto;
    width: 1026px;
}

.black_fon {
  background:#333;
  display:block;
  position: fixed;
  width:100%;
  height:100%;
  left: 0px;
  top: 0px;
  z-index:10;
}

/* ######################################################## */

/* forms input */


input{
    border: 1px solid #d4d5d6;
    width: 255px;
  height: 19px;
  padding: 3px 8px;
  margin-top: 11px;
    color: #969696;
    font-size: 16px;
}
input[type="text"]{
    margin-left: 36px;
}
input[name="formphone"]{
    margin-left: 46px;
}

textarea{
    width: 256px;
  height: 74px;
  border: 1px solid #d4d5d6;
  margin-left: 22px;
  resize: none;
  padding: 6px 8px;
}
label{
    font-size: 16px;
    color: #000;
    margin-right: -18px;
}
form .formmessage-block{
    margin-top: 15px;
}
form .formmessage{
    vertical-align: top;
}
placeholder{
    color: #969696;
}
::-webkit-input-placeholder{
    color: #969696;
}
:-moz-placeholder{
    color: #969696;
}
:-ms-input-placeholder{
    color: #969696;
}

:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}

/* /forms input */


/* ######################################################## */

/* buttons */

input[type="button"], input[type="submit"], button {
    cursor: pointer
}

.btn{
    width: 113px;
    height: 37px;
    padding: 10px 16px;
    background-color: #a73838;
    text-transform: uppercase;
    font-size: 12px;
    color: #fff;
    border: none;
    margin-left: 105px;
    border-bottom: 3px solid #8b3838;
    margin-top: 6px;
    margin-bottom: 10px;
}


/* /buttons */

/* ######################################################## */

/* form popup */


.form .form__title{
      font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 12px;
}




/*-------------------------Header----------------------------*/

#inline{
    display:none;
    width:420px;
}

.jcarousel {
    
    overflow: hidden;
}
.jcarousel ul {
    position: relative;
    width: 20000em;
}
.jcarousel li{
    float: left;
    height: 190px;
}
.slider-1{
    background: #444446 url(../img/slider-1.jpg) top center no-repeat;
    width: 100%;
    height: 150px;
}

.slider-2{
    background: #1c1d22 url(../img/slider-2.jpg) top center no-repeat;
    width: 100%;
    height: 150px;
}
.header__jcarousel-wrapper {
    position: relative;
}
.jcarousel-pagination {
    position: absolute;
    bottom: 28px;
    padding-left: 33px;
}

.jcarousel-pagination a {
    display: inline-block;
    height: 18px;
    width: 18px;
    text-indent: -9999px;
    margin-right: 10px;
    border-radius: 9px; 
    background-color: #8e8e8f; 
}
.jcarousel-pagination a:hover{
    background-color: #c6c6c7; 
}

.jcarousel-pagination a.active {
    background-color: #fff;
    cursor:default;
}

/*-------------------------content-header----------------------------*/

.header__content:after {content: ""; display: block;clear: both;}
.header__content{
  position: relative;
  margin-top: -190px;
  z-index: 100;
  left: 0;
  right: 0;
  padding-top: 20px;
  height: 170px;
}
.header__logo{
    float: left;
    width: 295px;
}

.header__logo a{
    float: left;
}
.header__logo h1{
    padding-left: 138px;
    padding-top: 3px;
    line-height: 1.3;
}

.header__contact{
    margin-left: 405px;
    padding-top: 12px;
}
.header__contact-phone span{
    color: #fff;
    font-size: 19px;
    padding-left: 32px;
}
.header__contact-phone:before{
    content: "";
    background: url(../img/sprite-icon.png) no-repeat 5px -617px;
    width: 13px;
    height: 14px;
    position: absolute;
    border: 1px solid #b2b2b2;
    border-radius: 100%;
    padding: 4px;
}
.header__contact-shedule{
    color: #b2b2b2;
    font-size: 15px;
    padding-left: 34px;
    line-height: 1.5;
    margin-top: 4px;
}
.header__contact-order{
      padding-left: 33px;
      margin-top: 15px;
}
.header__contact-order .button{
    width: 160px;
    height: 25px;
    text-align: center;
    padding: 8px 19px;
    letter-spacing: 1px;
    background-color: #be4040;
    -webkit-box-shadow: 0 3px #8b3838;
    -moz-box-shadow: 0 3px #8b3838;
    box-shadow: 0 3px #8b3838;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    color: #fff;
}
.header__contact-order .button:hover{
    background-color: #a73838;
}


/*-------------------------Nav----------------------------*/

.nav:after {content: ""; display: block;clear: both;}

nav{
    background: #31343b;
}
.nav li{
    display: inline-block;
    padding: 12px 13px;
}
.nav li:first-child{
    margin-left: -13px;
}
.nav li:last-child{
    margin-right: -13px;
}
.nav li:hover{
    background: #202227;
}
.nav li a{
    display: block;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #7f8184;
    font-weight: lighter;
}

/*-------------------------main_content----------------------------*/

.main__content{
    margin-top: 34px;
}
.main__content h2{
    letter-spacing: 2px;
}
.main__content-description{
    padding-right: 168px;
    padding-top: 4px;
}

/*-------------------------tabs----------------------------*/

.tabs{
    display:inline-block;
    width: 100%;
    margin-top: 58px;
}
.tabs__content:after {content: ""; display: block;clear: both;}
.tabs{
    border-bottom: none;
}
.tabs__block{
    margin:0px;
    padding:0px;
}
.tabs__block:after{
    content:"";
    display:block;
    clear:both;
    height:1px;
    background:#d4d5d6;
}

.tabs__block li{
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  display: block;
  float: left;
  padding: 8px 14px;
  letter-spacing: 1px;
  font-size: 12px;
  text-transform: uppercase;
  margin-right: 9px;
  background: #4e3e6d;
  color: #fff;
  border: 1px solid #4e3e6d;
  border-bottom: 1px solid #fff;
  margin-bottom: -2px;
}
.tabs__block li.active {
  background: #fff;  
  color: #31343b;
  border: 1px solid #d4d5d6;
  border-bottom: none;
}
.tabs__block li:hover{
    background:#3c3054;
    color:#fff;
}
.first-tab, .second-tab{
    margin-top: 54px;
}
.first-tab li, .second-tab li{
    /*width: 433px;
    display: inline-block;
    padding-right: 150px;
    min-height:48px;
    padding-bottom: 31px;
    vertical-align: top;*/
      width: 433px;
  display: inline-block;
  padding-right: 150px;
  min-height: 75px;
  vertical-align: top;
  line-height: 1.6;
  font-size: 17px;
}
.second-tab li{
    float: left;
}
.second-tab{
    overflow: hidden;
}
.second-tab ul.second-tab-list{
    margin-right:-150px;
} 
.second-tab .tabs-icon-9 .second-tab-sub li{
    padding-bottom: 0;
    min-height: 0;
    vertical-align: baseline;
}
.first-tab li:nth-child(2n){
    padding-right: 0;
}
.first-tab li a, .second-tab li a{
    display: inline-block;
    vertical-align: middle;
}
.second-tab li a{
    display: inline;
}
.first-tab li a:before{
    content: "";
    background: url(../img/sprite-icon.png) no-repeat 0 0;
    width: 41px;
    height: 41px;
    position: absolute;
}
.first-tab li a:hover:before{
    background: url(../img/sprite-icon.png) no-repeat -93px 0;
}
.first-tab li a span:hover, .second-tab li a span:hover{
    color: #8067cb;
}
.first-tab li a span, .second-tab li a span{
    padding-left: 66px;
    display: block;
    padding-bottom: 3px;
}
.first-tab .tabs-icon-2 a:before{
    content: "";
    background: url(../img/sprite-icon.png) no-repeat 0 -81px;
    width: 36px;
    height: 36px;
    position: absolute;
}
.first-tab .tabs-icon-2 a:hover:before{
    background: url(../img/sprite-icon.png) no-repeat -93px -81px;
}
.first-tab .tabs-icon-3 a:before{
    content: "";
    background: url(../img/sprite-icon.png) no-repeat 0 -157px;
    width: 43px;
    height: 19px;
    position: absolute;
}
.first-tab .tabs-icon-3 a:hover:before{
    background: url(../img/sprite-icon.png) no-repeat -93px -157px;
}
.first-tab .tabs-icon-4 a:before{
    content: "";
    background: url(../img/sprite-icon.png) no-repeat 0 -216px;
    width: 39px;
    height: 39px;
    position: absolute;
}
.first-tab .tabs-icon-4 a:hover:before{
    background: url(../img/sprite-icon.png) no-repeat -93px -216px;
}
.first-tab .tabs-icon-5 a:before{
    content: "";
    background: url(../img/sprite-icon.png) no-repeat 0 -295px;
    width: 36px;
    height: 42px;
    position: absolute;
}
.first-tab .tabs-icon-5 a:hover:before{
    background: url(../img/sprite-icon.png) no-repeat -93px -295px;
}
.first-tab .tabs-icon-6 a:before{
    content: "";
    background: url(../img/sprite-icon.png) no-repeat 0 -377px;
    width: 30px;
    height: 43px;
    position: absolute;
}
.first-tab .tabs-icon-6 a:hover:before{
    background: url(../img/sprite-icon.png) no-repeat -93px -377px;
}
.first-tab .tabs-icon-7 a:before{
    content: "";
    background: url(../img/sprite-icon.png) no-repeat 0 -460px;
    width: 37px;
    height: 37px;
    position: absolute;
}
.first-tab .tabs-icon-7 a:hover:before{
    background: url(../img/sprite-icon.png) no-repeat -93px -460px;
}
.first-tab .tabs-icon-8 a:before{
    content: "";
    background: url(../img/sprite-icon.png) no-repeat 0 -537px;
    width: 43px;
    height: 43px;
    position: absolute;
}
.first-tab .tabs-icon-8 a:hover:before{
    background: url(../img/sprite-icon.png) no-repeat -93px -537px;
}
.second-tab-sub:after {content: ""; display: block;clear: both;}
.second-tab-sub{
    margin-left: 65px;
    margin-top: 5px;
}
.second-tab .tabs-icon-9>a:before{
    content: "";
    background: url(../img/sprite-icon.png) no-repeat -186px -93px;
    width: 46px;
    height: 43px;
    position: absolute;
}
.second-tab .tabs-icon-9>a:hover:before{
    background: url(../img/sprite-icon.png) no-repeat -282px -93px;
}
.second-tab .tabs-icon-10 a:before{
    content: "";
    background: url(../img/sprite-icon.png) no-repeat -186px 0;
    width: 30px;
    height: 43px;
    position: absolute;
}
.second-tab .tabs-icon-10 a:hover:before{
    background: url(../img/sprite-icon.png) no-repeat -282px 0;
}
.second-tab .tabs-icon-11 a:before{
    content: "";
    background: url(../img/sprite-icon.png) no-repeat -186px -186px;
    width: 40px;
    height: 41px;
    position: absolute;
}
.second-tab .tabs-icon-11 a:hover:before{
    background: url(../img/sprite-icon.png) no-repeat -282px -186px;
}
.sub-tabs a:hover{
    color: #8067cb;
}

/*-------------------------news----------------------------*/

.news:after {content: ""; display: block;clear: both;}
.news{
    margin: 62px 0 27px 0;
    padding: 18px;
    border: 1px solid #d4d5d6;
}
.news__article{
    width: 24%;
    display: inline-block;
    vertical-align: top;
    margin-left: 8px;
    box-sizing: border-box;
}
.news__article:first-child{
    margin-left: 0;
}
.news__article h4{
    padding: 4px 0 9px;
    line-height: 1.6;
    font-size: 17px;
}
.news__article .news__article-p{
    font-size: 13.5px;
    padding-right: 2%;
    line-height: 1.3;
    padding-bottom: 8px;
}
.news__article .detail{
    color: #484d69;
    font-size: 13px;
}
.news__article .detail:hover{
    color: #21253f;
}
.news__btn .btn-all-new:after {content: ""; display: block;clear: both;}
.news__btn{
    text-align: center;
    margin-top: 20px;
}
.news__btn .btn-all-new{
    display: inline-block;
    background: #1a1a4c;
    color: #fff;
    text-transform: uppercase;
    padding: 9px 12px;
    font-size: 12px;
    letter-spacing: 1px;
    text-decoration: none;
}
.news__btn .btn-all-new:hover{
    background: #25256b;
}

/*-------------------------footer----------------------------*/

.footer{
    height: 130px;
    margin-top: -87px;
    background: #31343b;
}
.footer__nav{
    padding-top: 30px;
}
.footer__nav li{
    display: inline-block;
    padding-left: 21px;
}
.footer__nav li:first-child{
    padding-left: 0;
}
.footer__nav li a{
    border-bottom: 1px solid #999a9c;
    text-decoration: none;
}
.footer__nav li a{
    display: block;
    font-size: 13px;
    font-weight: lighter;
    color: #f1f1f2;
}
.footer__nav li a:hover{
    color: #a2a2a2;
}

.copyright{
    font-size: 13.34px;
    color: #b2b2b2;
    font-weight: lighter;
    padding: 15px 0 36px;
}
