@media only screen and (max-width: 960px){
	.wrapper, .slider{width: auto;}
	.slider-photo{width: auto; height: auto; max-width: 100%;}
	.owl-stage-outer{width: auto; height: auto;}
	.header{text-align: center; width: 98%; margin: 0 auto;}
	.fusce, .nav-slider{width: 98%; margin: 0 auto;}
	.content{width: 98%; margin: 0 auto;}
	.section-logo {width: auto;}
	.section-footer{width: auto; height: auto;}
	.owl-item img{width: 100%; height: auto; max-width: 100%;}
}

@media only screen and (max-width: 940px){
	.thumbnail {height: auto;padding-left: 20%}
    .thumbnail ul li{margin-left: 0;}
    .thumbnail ul li:first-child{margin-left: 0;}
    .thumbnail li {width: 40%;float: left;position: relative; margin-bottom: 30px;}
	.our-clients{width: 75%; text-align: center; margin-left: 100px;}
	.our-clients ul li{margin-top: 20px;}
}

@media only screen and (max-width: 890px){
	.slider-block .title, .slider-block .title-active{font-size: 14px; }
	.fusce h1{font-size: 38px;}
}

@media only screen and (max-width: 890px){
	.section-article{width: 100%;}
}

@media only screen and (max-width: 750px){
	.block-article-teams{width: 100%; float: none; margin-left: 0;}
	.block-article{width: 100%; float: none; margin-left: 0; margin-bottom: 30px;}
	.section-footer{width: 50%; margin-bottom: 36px;}
	.copyright {float: none; width: 70%; margin-bottom: 20px;}
	.copyright .logo_footer {float: none;}
	.copyright p{width: 100%;}
	.our-clients{width: 70%; text-align: center;}
}

@media only screen and (max-width: 680px){
	.nav ul li a{font-size: 12px;}
	.slider-block .title, .slider-block .title-active{font-size: 12px; }
}

@media only screen and (max-width: 670px){
	.fusce h1{font-size: 28px;}
	.block-logo {height: auto;}
    .block-logo ul {width: 100%;display: block;height: auto;}
    .block-logo li {width: 25%;float: left;position: relative; margin-bottom: 15px;}
    .block-logo a {text-align: left;width: 100%;text-indent: 25px;}
    .title-slide, .active-slide .title-slide {font: 15px "Oswald",sans-serif;}
    .our-clients{width: 80%; text-align: center; margin-left: 60px;}
}


@media only screen and (max-width: 580px){
	.nav {height: auto;}
    .nav ul {width: 100%;display: block;height: auto;}
    .nav li {width: 50%;float: left;position: relative;}
    .nav li a {border-bottom: 1px solid #e7e7e7;border-right: 1px solid #e7e7e7; padding: 10px 0;}
    .nav ul li a {padding: 10px 0;}
    .nav a {text-align: left;width: 100%;text-indent: 25px;}
    .fusce h1{font-size: 22px;}
    .number{display: none;}
    .our-clients{width: 95%; text-align: center; margin-left: 10px;}
}

@media only screen and (max-width: 500px){
	.thumbnail ul li{margin-right: 40px;}
	.thumbnail li { width: 35%;}
	.our-clients{width: 95%; text-align: center; margin-left: 10px;}
}

@media only screen and (max-width: 480px){
	.logo{float: none;}
	.search{float: left; margin-top: 15px;}
	.section-footer{width: 100%; float: none;}
	.block-logo li {width: 33%;float: left;position: relative; margin-bottom: 15px;}
}

@media only screen and (max-width: 460px){
	.photo{float: none;}
}

@media only screen and (max-width: 340px){
	.title-slide, .active-slide .title-slide {font: 13px "Oswald",sans-serif;}
	.thumbnail ul li{margin-right: 30px;}
}