@import url(http://fonts.googleapis.com/css?family=Oswald:300,400,700&subset=latin-ext,latin);


*{
	margin: 0;
	padding: 0;
}

body {
	background: url(../images/bg.png) repeat;
	/*min-width: 965px;*/
	color: #8f8f8f;
	position: relative;
	font: 12px Tahoma, sans-serif;
}

a{
	color: #b7b7b7;
	text-decoration: none;
	font: 14px 'Oswald', sans-serif;
}

p{
	color: #8f8f8f;
	font: 12px Tahoma, sans-serif;
	line-height: 15px;
}

li{list-style: none;}

h2{
	color: #7e7e7e;
	text-transform: uppercase;
	font: 14px 'Oswald', sans-serif;
}

h3{font: 11px Tahoma, sans-serif;}

:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}

.container:after {content: ""; display: block;clear: both;}

.container{border-top: 5px solid #7e7e7e;}

.wrapper{
	width: 960px;
	margin: 0 auto;
	min-width: 320px;
	padding: 0 10px;
}

.header-top:after {content: ""; display: block;clear: both;}

.logo{
	width: 162px;
	height: 38px;
	float: left;
}

.form-search{
	float: right;
	position: relative;
}
.form-search input{
	width: 177px;
	height: 30px;
	background-color: #f3f3f3;
    border: 1px solid #e7e7e7;
    color: #b2b2b2;
    padding: 0 10px;
}

.form-search input:focus, .form-search button:focus{outline: none;}

.form-search button{
	color: #fff;
    background-color: #29c5e6;
    border: none;
    width: 41px;
    height: 32px;
    font: 14px 'Oswald', sans-serif;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}

.b-nav:after {content: ""; display: block;clear: both;}

.b-nav{
	border: 1px solid #e7e7e7;
	background: #f3f3f3;
	margin-top: 22px;
	margin-bottom: 30px;
	box-sizing: border-box;
}
.b-nav{
	position: relative;
}
.b-nav .nav {display: table; width: 100%; table-layout: fixed;}

.b-nav .nav .active{background: #29c5e6;}

.b-nav .nav li{
	display: table-cell;
	text-align: center;
}

.b-nav .nav li a{
	color: #b2b2b2;
	text-transform: uppercase;
	display: block;
	padding: 12px 0;	
}

.b-nav li.active a, .active, a:hover, .b-nav li:hover a{
    color: #fff;
    margin-top: -1px;
	border-top: transparent 1px solid;
	margin-bottom: -1px;
	border-bottom: transparent 1px solid;
}

.active, a:hover, .b-nav li:hover a{color: #ffffff;}

.b-nav li:hover{background: #29c5e6;}

.b-nav a#touch-menu{
	background:  #e2e2e2 url(../images/touch-menu.png)no-repeat center center;
	width: 22px;
	height: 16px;
	position: absolute;
	top: 62px;
	right: 10px;
	padding: 18px 14px;
	display: none;
}

/*____________________________________________________*/


.slider:after {content: ""; display: block;clear: both;}

.owl-stage-outer{
  width: 960px;
  height: 280px;
  overflow: hidden;
}

.owl-item{float: left;}

.slider-photo{
  width: 960px;
  height: 280px;
  position: relative;
}

.thumbnail:after {content: ""; display: block;clear: both;}

.thumbnail{
	background: #f3f3f3;
	border-bottom: 1px solid #e7e7e7;
}

.thumbnail ul{
	padding: 12px 0;
	height: 30px;
}

.thumbnail ul li{
  float: left;
  margin-left: 65px;
}

.thumbnail ul li:first-child{margin-left: 12px;}

.active-slide .number{
    width:22px;
	height:20px;
	line-height: 20px;
	text-align:center;
	background-color:#29c5e6;
    color:#fefefe;
    margin-right:2px;
    padding: 5px 12px;
}

.number{
	text-align:center;
	padding: 5px 12px;
    margin-right:4px;
    background-color: #8f8f8f;
    color:#f3f3f3;
    cursor: pointer;
}

.title-slide, .active-slide .title-slide{
	text-transform: uppercase;
	font: 17px 'Oswald', sans-serif;
	vertical-align: middle;
}

.active-slide .title-slide, .title-slide:hover{color: #29c5e6;}

/*____________________________________________________*/


.section-article:after {content: ""; display: block;clear: both;}

.section-article{
	margin: 32px 0 36px 0;
}

.block-article:after {content: ""; display: block;clear: both;}

.block-article{
	width: 48%;
	margin-left: 4%;
	float: left;
	position: relative;
}

.block-article:first-child{margin-left: 0;}

.block-article{padding-right: 0;}

.block-title h2:before{
	content: "";
	width: 15px;
    height: 15px;
    background: #29c5e6;
    position: absolute;
    left: 0;
    top: 3px;
}

.block-title h2{
	background: url(../images/title_bg.png) repeat-x 0 3px;
	margin-bottom: 14px;
}

.block-title h2 span{
	background: url(../images/bg.png) 0 10px;
	padding: 0 8px 0 19px;
}

.block-article .photo:after {content: ""; display: block;clear: right;}

.block-article .photo{
	float: left;
	margin: 3px 18px 0 2px;
}

.block-article .photo img{
	width: 136px;
	height: 137px;
	overflow: hidden;
	border: 1px solid #fff;
    outline: 1px solid #c9c9c9;
}

.block-article .description p{
	margin: 0 0 8px 0;
	text-align: justify;
}

.block-article .description a{
	font: 12px Tahoma, sans-serif;
	text-decoration: underline;
	color: #525252;
}

.block-article .description .article-description{font-style: italic;}

.block-article .description .naumoski{
	color: #525252;
	font-style: normal;
	padding-top: 7px;
}


/*____________________________________________________*/


.section-teams:after {content: ""; display: block;clear: both;}

.section-teams{
	margin: 35px 0 25px 0;
}

.block-article-teams{
	width: 31%;
	float: left;
	position: relative;
	margin-left: 3%;
}

.block-article-teams:first-child{margin-left: 0;}

.block-article-teams p{text-align: justify;}

.block-article-teams .read{margin-top: 20px;}

.block-article-teams .read a{
	font: 12px Tahoma, sans-serif;
	text-decoration: underline;
	color: #525252;}


.block-article-teams ul li img{
	float: left;
	width: 36px;
	height: 37px;
	line-height: 37px;
	border: 1px solid #fff;
    outline: 1px solid #c9c9c9;
    margin-right: 8px;
	margin-top: 4px;
	margin-bottom: 3px;
}

.block-article-teams li:after {content: ""; display: block;clear: both;}

.block-article-teams li{margin-bottom: 8px;}

.block-article-teams li h3{
	color: #525252;
	text-transform: uppercase;
	margin-bottom: 2px;
}

.block-article-teams li p{font-size: 11px;}

.section-clients:after {content: ""; display: block;clear: both;}

.section-clients{
	position: relative;
	margin: 18px 0 45px 0;
}

.our-clients:after {content: ""; display: block;clear: both;}

.our-clients ul li:first-child{padding-left: 20px;}

.our-clients ul li{display: inline-block;}	

.our-clients .client-1{
	margin-right: 40px;
	background: url(../images/client-1.png);
	width: 61px;
	height: 83px;
	display: block;
}

.our-clients .client-2{
	margin-right: 40px;
	background: url(../images/client-2.png);
	width: 74px;
	height: 83px;
	display: block;
}

.our-clients .client-3{
	margin-right: 40px;
	background: url(../images/client-3.png);
	width: 161px;
	height: 83px;
	display: block;
}

.our-clients .client-4{
	margin-right: 40px;
	background: url(../images/client-4.png);
	width: 72px;
	height: 83px;
	display: block;
}

.our-clients .client-5{
	margin-right: 40px;
	background: url(../images/client-5.png);
	width: 103px;
	height: 83px;
	display: block;
}

.our-clients .client-6{
	margin-right: 40px;
	background: url(../images/client-6.png);
	width: 76px;
	height: 83px;
	display: block;
}

.our-clients .client-7{
	background: url(../images/client-7.png);
	width: 85px;
	height: 83px;
	display: block;
}


/*____________________________________________________*/


.footer:after {content: ""; display: block;clear: both;}	

.footer{
	background: #7e7e7e;
	/*height: 142px;*/
	padding: 15px 0;
}

.section-footer{
	width: 33%;
	float: left;
}

.block-twitter{
	margin-right: 20px;
	padding-right: 10px;
}

.block-twitter a{
	text-decoration: underline;
	font-size: 11px;
}

.section-footer  h3{
	font-size: 14px;
    color: #e8e8e8;
    border-bottom: 1px solid #919191;
    margin: 0 0 10px 0;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 4px;
}

.social  h3{margin-bottom: 12px;}

.section-footer time a {
    color: #b4aeae;
    text-decoration: underline;
}

.section-footer time a:hover{color: #ffffff;}

.section-footer p{
	font-size: 11px;
	color: #dbdbdb;
	padding: 5px 17px 0 0;
}

.sitemar-social{
	width: 33%;
	float: left;
}

.block-sitemap-social:after {content: ""; display: block;clear: both;}

.sitemap{
	width: 48%;
	float: left;
	margin-right: 4%;
}

.sitemap ul {display: inline-block; margin-top: 3px;}

.sitemap ul li{
	float: left;
	margin-bottom: 6px;
	padding-right: 31px;
}

.sitemap ul .home{
	padding-right: 42px;
}

.sitemap ul li a{
	color: #dbdbdb;
	font: 12px Tahoma, sans-serif;
    text-decoration: none;
}

.sitemap a:hover {
    text-decoration: underline;
    color: #fff;
}

.social:after {content: ""; display: block;clear: both;}

.social{
	width: 48%;
	float: left;
}

.block-social{float: right;}

.block-social-1:after {content: ""; display: block;clear: both;}

.block-social-1{
	margin: 5px 0 13px 0;
}

.block-social-1 li{
	width: 33%;
	float: left;
}

.block-social-1 li .block-twitter-1{
	background: url(../images/twitter.png) no-repeat;
	width: 30px;
	height: 30px;
	display: block;
}

.block-social-1 li .block-facebook{
	background: url(../images/facebook.png) no-repeat;
	width: 30px;
	height: 30px;
	display: block;
}

.block-social-1 li .block-google{
	background: url(../images/plus.google.png) no-repeat;
	width: 30px;
	height: 30px;
	display: block;
}

.block-social-2 li{
	width: 19%;
	float: left;
}

.block-social-2 li .block-vimeo{
	background: url(../images/vimeo.png) no-repeat;
	width: 16px;
	height: 16px;
	display: block;
}

.block-social-2 li .block-youtube{
	background: url(../images/youtube.png) no-repeat;
	width: 16px;
	height: 16px;
	display: block;
}

.block-social-2 li .block-flickr{
	background: url(../images/flickr.png) no-repeat;
	width: 16px;
	height: 16px;
	display: block;
}

.block-social-2 li .block-instagram{
	background: url(../images/instagram.png) no-repeat;
	width: 16px;
	height: 16px;
	display: block;
}

.block-social-2 li .block-rss{
	background: url(../images/rss.png) no-repeat;
	width: 16px;
	height: 16px;
	display: block;
}

.copyright:after {content: ""; display: block;clear: both;}

.copyright{
	width: 33%;
	float: right;
}

.copyright .logo_footer{
    width: 160px;
    height: 40px;  
    padding: 13px 2px 0 0;
    float: right;
}

.copyright p{
	float: right;
	font-size: 10px;
	color: #c5c5c5;
	line-height: 1.4;
	margin-top: 16px;
}

.copyright p a{
	text-decoration: underline;
	font: 10px Tahoma, sans-serif;
}